@model JZenoApp.Models.Voucher

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<link href="~/css/manage.css" rel="stylesheet" />
<script src="~/js/main.js" language="JavaScript" type="text/javascript"></script>

<div>
    <hr />
    <div class="box-form">
        <div class="form-horizontal">
            <h4 class="title-form">Xóa Voucher</h4>
            <div class="form-group row p-0">
                <span class="col label-name">Tên Voucher</span>               
                <span class="input-form col-10" style="background-color:#fff;">@Html.DisplayFor(model => model.name)</span>
                <span asp-validation-for="name" class="text-danger"></span>
            </div>

            <div class="form-group row p-0">
                <span class="col label-name">Giá Voucher</span>
                <span class="input-form col-10" style="background-color:#fff;">@Html.DisplayFor(model => model.price)</span>
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
           
            <div class="form-group row p-0">
                <span class="col label-name">Số Lượng</span>
                <span class="input-form col-10" style="background-color:#fff;">@Html.DisplayFor(model => model.quantity)</span>
                <span asp-validation-for="name" class="text-danger"></span>
            </div>

            <div class="form-group row p-0">
                <span class="col label-name">Ngày Bắt Đầu</span>
                <span class="input-form col-10" style="background-color:#fff;">@Html.DisplayFor(model => model.startDate)</span>
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            
            <div class="form-group row p-0">
                <span class="col label-name">Ngày kết thúc</span>
                <span class="input-form col-10" style="background-color:#fff;">@Html.DisplayFor(model => model.endDate)</span>
                <span asp-validation-for="name" class="text-danger"></span>
            </div>

            <div class="d-flex justify-content-center form-btn">
                <input id="btn-delete" value="Xoá" class="btn btn-danger" style="width: 100%" />
            </div>
        </div>
        
    </div>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="voucherID" />
        
       

        <div style="background: #000">
            <div class="box-confirm box-shadow shadow">
                <h4>Bạn Có Chắc Chắn Xoá?</h4>
                <hr />
                <h3 style="color: red;">@Model.name</h3>
                <div class="row mt-4">
                    <input type="submit" value="Xác Nhận Xoá" class="btn btn-danger col-10" style="width: 74%" />
                    <input value="Hủy" id="btn-cancel" style="background-color:#41e7a7; border:none; color:#fff; width:20%; border-radius:7px; padding-left:24px;" class="btn-default col-2" />
                </div>
            </div>
        </div>
    </form>
</div>
<a asp-action="Index">Trở lại</a>

<script>
    var btnDelete = document.querySelector('#btn-delete');
    var modelBox = document.querySelector('.box-confirm');
    var btnCancel = document.querySelector('#btn-cancel');


    btnDelete.onclick = function () {
        modelBox.style.display = "block";
    }

    btnCancel.onclick = function () {
        modelBox.style.display = "none";
    }

</script>