@page "/admin/role/"
@model JZenoApp.Areas.Admin.Pages.Role.IndexModel
@{
    ViewData["Title"] = "List Role";
}

@* ============================ *@
<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex">
        <partial name="_StatusMessage" model="@Model.StatusMessage" />

        <form method="POST" class="my-1 d-inline">
            <button style="border:none;" class="btn btn-success" asp-page="./Add"
                    asp-page-handler="StartNewRole">
                Tạo mới
            </button>
        </form>
        
        <a style="" asp-page="./User" class="d-flex align-items-center ml-4">Danh sách người dùng</a>
    </div>
    <div class="card-body">
        <div class="table-responsive" style="overflow-x: clip !important;">
            <table class="table table-bordered" id="example" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>RoleID</th>
                        <th>Tên</th>
                        <th style="text-align: center;">
                            Chức năng
                        </th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>RoleID</th>
                        <th>Tên</th>
                        <th style="text-align: center;">
                            Chức năng
                        </th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var role in Model.roles!)
                    {
                        <tr>
                            <td>@role.Id</td>
                            <td>@role.Name</td>
                            <td style="text-align: center; width: 200px">
                                <form method="POST" class="d-inline">
                                    <button name="Input.ID" value="@role.Id" class="btn btn-success btn-sm"
                                            asp-page="./Add" asp-page-handler="StartUpdate">
                                        Chỉnh sửa
                                    </button>
                                </form>
                                <form method="POST" class="d-inline">
                                    <button name="Input.ID" value="@role.Id" class="btn btn-success btn-sm"
                                            asp-page="./Delete">
                                        Xóa
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    new DataTable('#example');
</script>