
@model List<JZenoApp.Models.CartItem>

@{
    ViewData["Title"] = "CartCheckOut";
}
<h2>THANH TOÁN</h2>

@if (Model.Count > 0)
{
    double? total = 0;
    int stt = 1;

    <form asp-controller="Home" asp-action="CheckOut">
        <div class="header-cart">
            <div style="color: rgba(0,0,0,.8); width: 46.27949%;">
                Sản Phẩm
            </div>
            <div style="text-align: center; width: 15.88022%;">
                Đơn Giá
            </div>
            <div style="text-align: center; width: 15.4265%;">
                Số Lượng
            </div>
            <div style="text-align: center; width: 10.43557%;">
                Số Tiền
            </div>
            <div style="text-align: center; width: 12.70417%;">
                Thao Tác
            </div>
        </div>
        @foreach (var cartitem in Model)
        {
            var thanhtien = cartitem.quantity * cartitem.product!.price;
            total += thanhtien;

            <div class="body-cart">
                <div style="color: rgba(0,0,0,.8); width: 46.27949%;">
                    <div style="display: flex;">
                        @{
                            var index = 0;
                            foreach (var img in cartitem.product!.productImages!)
                            {
                                if (index == 0)
                                {
                                    <img src="~/images/products/@img.URL" alt="@cartitem.product.name" style="width: 80px; height: 80px; object-fit: cover;">
                                    break;
                                }
                                index++;
                            }
                        }
                        <p style="padding: 4px; justify-content: center; text-align: center; align-items: center; display: flex;">@cartitem.product.name</p>
                    </div>
                </div>

                <div style="text-align: center; width: 15.88022%; color: rgba(0,0,0,.8);">
                    @Convert.ToDecimal(cartitem.product.price).ToString("N0")đ
                </div>
                <div style="text-align: center; width: 10.43557%; color: rgba(0,0,0,.8);">
                    @Convert.ToDecimal(thanhtien).ToString("N0")đ
                </div>
            </div>
        }

        <div class="grid-container">
            <div class="grid-item" style="justify-content: center; text-align: center; align-items: center; display: flex;">
                <div class="total-payment-left">
                    <input id="voucherName" name="voucherName" class="form-control" placeholder="Nhập Mã Voucher" />
                </div>
            </div>
            <div class="grid-item"></div>
            <div class="grid-item">
                <div class="total-payment-right">
                    <span>
                        Tổng thanh toán (@Model.Count Sản phẩm):
                        <span style="color: #ee4d2d;">₫@Convert.ToDecimal(total).ToString("N0")</span>
                    </span>
                </div>
            </div>
        </div>
        <button>Đặt Mua</button>
    </form>
}
else
{

    <div class="body-cart" style="height: 500px !important; justify-content: center;">
        <div>
            <img src="~/images/sp/no-cart.png" class="header__no-cart-img" style="min-width: 300px;">
            <p style="display: flex; justify-content: center; text-align: center; margin: 8px; font-size: 1.8rem;">Giỏ hàng trống</p>
            <p style="display: flex; justify-content: center; text-align: center; margin: 8px;">
                <a class="buy-now" asp-area="" asp-controller="Products" asp-action="Index">Mua Hàng Ngay</a>
            </p>
        </div>
    </div>
}

