@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@model List<JZenoApp.Models.CartItem>

@{
    ViewData["Title"] = "Giỏ Hàng";
    var list = (List<Voucher>)ViewData["ListVoucher"]!;
    var listVPartner = (List<VoucherPartner>)ViewData["ListVoucherPartner"]!;

    <link rel="stylesheet" href="~/css/cart/cart.css"/>
    <link rel="stylesheet" href="~/css/products/detail.css" />
    <link rel="stylesheet" href="~/css/managementForm.css">
    <link rel="stylesheet" href="~/css/coupon.css" />
    }

<h1 class="text-center">GIỎ HÀNG</h1>
@if (Model.Count > 0) {
  double? total = 10000 * Model.Count;
    double? totalPrice = 0;
    <div class="header-cart">
        <div style="color: rgba(0,0,0,.8); width: 36.27949%;">
            Sản Phẩm
        </div>
        <div style="text-align: center; width: 15.88022%;">
            Đơn Giá
        </div>
        <div style="text-align: center; width: 15.4265%;">
            Số Lượng
        </div>
        <div style="text-align: center; width: 10.43557%;">
            Số Tiền
        </div>
        <div style="text-align: center; width: 12.70417%;">
            Thao Tác
        </div>
        <div style="text-align: center; width: 22.70417%;">
            Voucher Shop
        </div>
    </div>
    @foreach (var cartitem in Model)
    {
        var thanhtien = (cartitem.quantity * cartitem.product!.price * 2/100) + (cartitem.quantity * cartitem.product!.price); //2% tiền của shopbee
        total += thanhtien;
        totalPrice += thanhtien;
        <div class="body-cart">
                <div style="color: rgba(0,0,0,.8); width: 36.27949%;">
                    <div style="display: flex;">
                        @{
                            var index = 0;
                            foreach (var img in cartitem.product!.productImages!)
                            {
                                if (index == 0)
                                {
                                        <img src="~/images/products/@img.URL" alt="@cartitem.product.name" style="width: 80px; height: 80px; object-fit: cover;">
                                    break;
                                }
                                index++;
                            }
                        }
                    <p style="padding: 4px; justify-content: center; text-align: center; align-items: center; display: flex;">@cartitem.product.name (@cartitem.product.productColor!.FirstOrDefault()!.Name - @cartitem.product!.productColor!.FirstOrDefault()!.productSize!.FirstOrDefault(e=>e.Id == cartitem!.isUnique!)!.name)</p>
                   @* 123123 *@
                    
                </div>
                </div>
                <div style="text-align: center; width: 15.88022%; color: rgba(0,0,0,.8);">
                    @Convert.ToDecimal(cartitem.product.price).ToString("N0")đ
                </div>
                <div style="text-align: center; width: 15.4265%;">
                    <div class="option-product m-0" style="justify-content: center;">
                        <div class="option-info" id="amount-product">
                            <button class="minus-btn updatecartitem" data-productid="@cartitem.product.Id" data-productUnique="@cartitem.isUnique">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15" />
                                </svg>
                            </button>
                            <input asp-for="@cartitem.quantity" id="sl-product" class="@($"quantity-{cartitem.product.Id}")" />
                            <button class="plus-btn updatecartitem" data-productid="@cartitem.product.Id" data-productUnique="@cartitem.isUnique">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <div style="text-align: center; width: 10.43557%; color: rgba(0,0,0,.8);">
                    @Convert.ToDecimal(thanhtien).ToString("N0")đ
                </div>
                <div style="text-align: center; width: 12.70417%;">
                <a asp-route="removecart" asp-route-productid="@cartitem.product.Id" class="" style="color: rgba(0,0,0,.8); text-decoration: none;">Xóa</a>
                    <input type="text" id="unique" hidden>
                </div>
                <div style="text-align: center; width: 22.70417%;">
                    @{
                        var VPartner = listVPartner.Where(e => e.partnerId == cartitem.product.partnerID);
                        if (VPartner.Count() > 0)
                        {
                            <form action="#">
                                @if (cartitem.vActive == true)
                                {
                                <div style="color: #ee4d2d;">Áp dụng Thành Công <i class="fa-solid fa-check"></i></div>
                                }
                                else
                                {
                                <div dir="rvc" style="border: 1px solid #ccc;border-radius: 5px; width: fit-content;">
                                        <select name="voucher" id="vPrice" style="border: none; outline: none;">
                                            @foreach (var l in listVPartner.Where(e => e.partnerId == cartitem.product.partnerID))
                                            {
                                                <option value="@l.price">@l.vID -  @Convert.ToDecimal(l.price).ToString("N0")đ</option>
                                                // <input type="radio" name="voucher" id="vPrice" value="@l.price" />
                                                // <label for="@l.price">@l.vID -  @Convert.ToDecimal(l.price).ToString("N0")đ</label>
                                                // <br />
                                            }
                                        </select>
                                    <button class="updatevoucher updatecartitem btn-primary" data-productid="@cartitem.product.Id" data-productUnique="@cartitem.isUnique" style="padding: 8px;color: #fff;background: #ee4d2d !important;border-radius: 2px; border: none; outline: none; cursor: pointer;">
                                        <i class="fa-solid fa-check"></i>
                                      </button>
                                    </div>
                                    
                                }
                        </form>
                    } else
                    {
                        <span>Không Có Voucher nào</span>
                    }

                    }
                </div>
            </div>
    }

    <div class="grid-container mb-4">
        <div class="grid-item" style="justify-content: left; text-align: center; align-items: center; display: flex;">
            <div class="total-payment-left">
                <span>
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="28px" height="28px" viewBox="0,0,256,256"><defs><radialGradient cx="22.447" cy="22.436" r="16.046" gradientUnits="userSpaceOnUse" id="color-1"><stop offset="0" stop-color="#000000"></stop><stop offset="1" stop-color="#000000" stop-opacity="0"></stop></radialGradient><linearGradient x1="10.018" y1="9.018" x2="32.29" y2="31.29" gradientUnits="userSpaceOnUse" id="color-2"><stop offset="0" stop-color="#fede00"></stop><stop offset="1" stop-color="#ffd000"></stop></linearGradient></defs><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.33333,5.33333)"><circle cx="27" cy="28" r="16" fill="#ff8f6b"></circle><circle cx="27" cy="28" r="13" fill="#ed6c47"></circle><path d="M27,12c-8.837,0 -16,7.163 -16,16c0,2.634 0.648,5.112 1.776,7.304c2.772,2.307 6.335,3.696 10.224,3.696c8.837,0 16,-7.163 16,-16c0,-2.634 -0.648,-5.112 -1.776,-7.304c-2.772,-2.307 -6.335,-3.696 -10.224,-3.696z" fill="url(#color-1)"></path><circle cx="21" cy="20" r="16" fill="url(#color-2)"></circle><circle cx="21" cy="20" r="13" fill="#f5be00"></circle><path d="M25.449,26.345h-8.187v-2.255h2.681v-8.061l-2.754,0.596v-2.31l5.596,-1.129v10.904h2.663z" fill="#fee119"></path></g></g></svg>
                    Tiền Ship
                </span>
                <div style="color: #ee4d2d; text-decoration: None; margin-left: 28px;">
                    <h3 style="text-align:right;color:red;">(2% thuế sản phẩm)</h3>
                </div>
            </div>
        </div>
        <div class="grid-item"></div>
        <div class="grid-item">
            <div class="total-payment-right">
                <span>
                    Tổng Ship (@Model.Count Sản phẩm):
                </span>
                <div style="margin-left: 8px;">
                    <span class="shipping-fee" style="color: #ee4d2d;">₫@Convert.ToDecimal(Model.Count * 10000).ToString("N0")</span>
                </div>
            </div>
        </div>
    </div>

    <div class="grid-container">
        <div class="grid-item" style="justify-content: left; text-align: center; align-items: center; display: flex;">
            <div class="total-payment-left">
                <span>
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="28px" height="28px" viewBox="0,0,256,256"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.33333,5.33333)"><path d="M46,36c0,1.657 -1.343,3 -3,3h-38c-1.657,0 -3,-1.343 -3,-3v-24c0,-1.657 1.343,-3 3,-3h38c1.657,0 3,1.343 3,3z" fill="#ff5252"></path><path d="M21.045,16.097c-0.637,-0.731 -1.49,-1.097 -2.558,-1.097c-1.069,0 -1.917,0.372 -2.545,1.117c-0.628,0.745 -0.942,1.706 -0.942,2.884v0.944c0,1.25 0.322,2.238 0.968,2.965c0.645,0.727 1.494,1.09 2.545,1.09c1.06,0 1.906,-0.363 2.538,-1.09c0.633,-0.727 0.949,-1.688 0.949,-2.885v-0.97c0,-1.241 -0.319,-2.227 -0.955,-2.958zM19.628,19.985c0,0.532 -0.101,0.962 -0.301,1.29c-0.201,0.328 -0.473,0.492 -0.814,0.492c-0.333,0 -0.609,-0.157 -0.827,-0.472c-0.218,-0.314 -0.327,-0.738 -0.327,-1.27v-0.984c0,-0.54 0.103,-0.977 0.308,-1.309c0.205,-0.332 0.478,-0.499 0.821,-0.499c0.35,0 0.628,0.166 0.833,0.499c0.205,0.332 0.308,0.756 0.308,1.27v0.983zM20,34l-1.832,-1.039l9.986,-19l1.846,1.039zM32.04,25.083c-0.64,-0.722 -1.489,-1.083 -2.546,-1.083c-1.049,0 -1.894,0.366 -2.534,1.097c-0.64,0.731 -0.96,1.695 -0.96,2.891v0.984c0,1.214 0.315,2.189 0.947,2.925c0.631,0.736 1.489,1.103 2.572,1.103c1.075,0 1.924,-0.366 2.547,-1.097c0.622,-0.731 0.934,-1.69 0.934,-2.878v-0.97c0,-1.259 -0.32,-2.249 -0.96,-2.972zM30.633,29.198c-0.034,1.055 -0.405,1.582 -1.113,1.582c-0.316,0 -0.587,-0.168 -0.813,-0.505c-0.226,-0.337 -0.339,-0.753 -0.339,-1.25v-0.758c0,-1.356 0.375,-2.034 1.126,-2.034c0.341,0 0.616,0.162 0.825,0.485c0.209,0.324 0.314,0.747 0.314,1.27z" fill="#ffffff"></path></g></g></svg>
                    Shopee Voucher
                </span>
                <div data-bs-toggle="modal" data-bs-target="#voucher" asp-area="" style="color: #ee4d2d; text-decoration: None; margin-left: 28px; cursor:pointer">Chọn Voucher</div>
            </div>
        </div>
        <div class="grid-item"></div>
        <div class="grid-item">
            <div class="total-payment-right">
                <span>
                    Tổng thanh toán (@Model.Count Sản phẩm):
                    <span style="color: #ee4d2d;">₫@Convert.ToDecimal(totalPrice).ToString("N0")</span>
                </span>
                <div class="buy-now" data-bs-toggle="modal" data-bs-target="#exampleModal" asp-area="" style="margin-left: 8px;">Mua Hàng</div>
            </div>
        </div>
    </div>

    <form asp-controller="Home" asp-action="CheckOut">
        <div class="modal fade" id="voucher" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="border-radius: 14px;">
            <div class="modal-dialog" style="font-size: 1.6rem; top: 12%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel" style="font-size: 16px;">Danh Sách Voucher</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <div class="input-group mb-3">
                            <input id="voucherName" name="voucherName" class="form-control" placeholder="Nhập Mã Voucher (Nếu Có)" style="border: none;outline: none;box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;font-size: 16px;padding: 10px;border-radius: 8px;" />
                        </div>
                        @foreach (var item in list!)
                        {
                            <div class="copy-button">
                                <input id="copyvalue-@item.name" type="text" readonly value="@item.name" />
                                <span style="margin-right: 8px;">@Convert.ToDecimal(item.price).ToString("N0")đ</span>
                                <div data-coupon="@item.name" class="copybtn" style="cursor: pointer;">SAO CHÉP</div>
                            </div>
                        }
                    </div>
                    <button class="btn btn--primary header__cart-see-cart" style="width: 96%" type="button" data-bs-dismiss="modal" aria-label="Close">
                        <h5>Áp Dụng</h5>
                    </button>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="font-size: 1.6rem; top: 12%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel" style="font-size: 16px;">Thông Tin Thanh Toán</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        @if (!SignInManager.IsSignedIn(User))
                        {
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1" style="width: 68px; font-size: 14px; height: 40px;">SĐT</span>
                                <input id="getPhone" attern="[0-9]{10}" minlength="10" maxlength="10" name="getPhone" required type="tel" class="form-control" placeholder="Nhập Số Điện Thoại" style="font-size: 14px;" />
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1" style="width: 68px; font-size: 14px; height: 40px;">Địa Chỉ</span>
                                <input id="getAddress" required minlength="24" maxlength="100" pattern="[a-zA-Z\]*" name="getAddress" class="form-control" placeholder="Nhập Địa Chỉ Nhận Hàng" style="font-size: 14px;" />
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1" style="width: 68px; font-size: 14px; height: 40px;">Họ Tên</span>
                                <input id="getName" minlength="2" maxlength="32" pattern="[a-zA-Z\]*" required name="getName" class="form-control" placeholder="Nhập Họ Tên Của Bạn" style="font-size: 14px;" />
                            </div>
                        }
                        else
                        {
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1" style="width: 68px; font-size: 14px; height: 40px;">Họ Tên</span>
                                <input value="@UserManager.GetUserAsync(User).Result?.fullName" disabled class="form-control" placeholder="Ghi Chú?" style="font-size: 14px;" />
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1" style="width: 68px; font-size: 14px; height: 40px;">Địa Chỉ</span>
                                <input value="@UserManager.GetUserAsync(User).Result?.address" disabled class="form-control" placeholder="Ghi Chú?" style="font-size: 14px;" />
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1" style="width: 68px; font-size: 14px; height: 40px;">SĐT</span>
                                <input value="@UserManager.GetUserAsync(User).Result?.PhoneNumber" disabled class="form-control" placeholder="Ghi Chú?" style="font-size: 14px;" />
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1" style="width: 68px; font-size: 14px; height: 40px;">Ghi Chú</span>
                                <input id="getName" name="getNote" class="form-control" placeholder="Ghi Chú?" style="font-size: 14px;" />
                            </div>
                        }
                        
                        <div class="dropdown" style="text-align: right">
                            <button class="btn btn--primary header__cart-see-cart dropdown-toggle" style="width: 96%" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                <h5 class="modal-title" id="exampleModalLabel">Chọn Phương Thanh Toán</h5>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="width: 96%">
                                <li>
                                    <a asp-controller="Home" asp-action="PaymentWithPaypal" class="btn btn--primary header__cart-see-cart" style="width: 95%; background: #fff; color: var(--light-btn-primary-color); border: 1px solid;">Thanh Toán Bằng Paypal</a>
                                </li>
                                <li>
                                    <button class="btn btn--primary header__cart-see-cart" style="width: 95%; background: #fff; color: var(--light-btn-primary-color); border: 1px solid;">Thanh Toán Khi Nhận Hàng</button>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>

      @section Scripts {
        <script>
        $(document).ready(function () {
            $(".copybtn").click(function (event) {
                event.preventDefault();
                var dataCouponInput = $(this).attr("data-coupon");
                $('#copyvalue-' + dataCouponInput).select();
                console.log('copyvalue-' + dataCouponInput)
                document.execCommand("copy");
                this.textContent = "ĐÃ SAO CHÉP";
            });
        });
        $(document).ready(function () {
            $(".updatevoucher").click(function (event) {
                event.preventDefault();
                var productid = $(this).attr("data-productid");
                var productUnique = $(this).attr("data-productUnique");
                var price = $("#vPrice").find("option:selected").val();
                $.ajax({
                    type: "POST",
                    url: "@Url.RouteUrl("updatevoucher")",
                    data: {
                        productid: productid,
                        isUnique: productUnique,
                        vPrice: price
                    },
                    success: function (result) {
                        window.location.href = "@Url.RouteUrl("cart")";
                    }
                });
            });
        });
          $(document).ready(function () {
              $(".plus-btn").click(function (event) {
                  event.preventDefault();
                  var productid = $(this).attr("data-productid");
                  var productUnique = $(this).attr("data-productUnique");
                  var quantity = parseInt($(".quantity-" + productid).val()) +1;
                  $.ajax({
                      type: "POST",
                      url:"@Url.RouteUrl("updatecart")",
                      data: {
                          productid: productid,
                          quantity:quantity,
                        isUnique: productUnique
                      },
                      success: function (result) {
                          window.location.href = "@Url.RouteUrl("cart")";
                      }
                  });
              });
          });

        $(document).ready(function () {
            $(".minus-btn").click(function (event) {
                event.preventDefault();
                var productid = $(this).attr("data-productid");
                var productUnique = $(this).attr("data-productUnique");
                var quantity = parseInt($(".quantity-" + productid).val()) - 1;
                if(quantity>0){
                    $.ajax({
                        type: "POST",
                        url: "@Url.RouteUrl("updatecart")",
                        data: {
                            productid: productid,
                            quantity: quantity,
                            isUnique: productUnique
                        },
                        success: function (result) {
                            window.location.href = "@Url.RouteUrl("cart")";
                        }
                    });
                }
            });
        });
        </script>
      }

}
else {

    <div class="body-cart" style="height: 500px !important; justify-content: center;">
        <div>
            <img src="~/images/sp/no-cart.png" class="header__no-cart-img" style="min-width: 300px;">
            <p style="display: flex; justify-content: center; text-align: center; margin: 8px; font-size: 1.8rem;">Giỏ hàng trống</p>
            <p style="display: flex; justify-content: center; text-align: center; margin: 8px;">
                <a class="buy-now" asp-area="" asp-controller="Products" asp-action="Index">Mua Hàng Ngay</a>
            </p>
        </div>
    </div>
}





