@model List<JZenoApp.Models.Product>

@using JZenoApp.Models;
@{
    int i = 0;
}

<head>
    <link href="~/css/Home.css" rel="stylesheet">

</head>

<style>
    swiper-container {
        width: 100%;
        height: 100%;
    }

    swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .pt-5 {
        padding-top: 0.5rem !important;
    }

    .cat-item:hover {
        background: #FA5230;
    }

    .cat-item h4:hover {
        color: white;
    }

    .col-lg-4 {
        flex: 0 0 35% !important;
        max-width: 35% !important;
    }

    .col-lg-8 {
        flex: 0 0 65% !important;
        max-width: 65% !important;
    }

    .home-product-item__imgg:hover {
        transform: scale(1.1);
        transition: 0.5s ease-out;
    }

    .home-product-item__imgg, .home-product-item__imggg {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    .home-product-item__name{
        font-size: 14px;
    }

    .home-product-item__name{
        font-size: 14px;
    }
    #countdown{
        display: inline-block;

    }
    .option-promo{
    display: flex;
    overflow: hidden;
    text-align: center;
    border-radius: 12px;
    margin: 40px -25px 30px;
    position: relative;
    z-index: 1;
}
.option-promo li{
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    margin-right: 2%;
    width: calc(100%/3 - 16px);
    margin-right: 20px;
    background-color: #fff;
    border-radius: 12px;
    padding: 15px 0;
}
.option-promo li a{
    display: block;
    overflow: hidden;
}
.option-promo li img{
    display: inline-block;
    vertical-align: middle;
    height: 70px;
    width: auto;
}
.option-promo li span{
    font-size: 20px;
}
.option-promo li span{
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    color: #222;
    font-size: 22px;
    line-height: 28px;
    text-align: left;
    margin-left: 10px;
    max-width: 65%;
}

</style>




@*Slide start*@
<div class="container-fluid mb-3">
    <div class="row px-xl-5" style="margin-left: -50px; margin-right: -50px;">
        <div class="col-lg-8">
            <div id="header-carousel" class="carousel slide carousel-fade mb-30 mb-lg-0" data-ride="carousel" >
                <div class="carousel-inner">
                    <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" navigation="true" space-between="30"
                                      centered-slides="true" autoplay-delay="2300" autoplay-disable-on-interaction="false">
                        <swiper-slide><img src="~/images/logo/slide1.png" /></swiper-slide>
                        <swiper-slide><img src="~/images/logo/slide2.png" /></swiper-slide>
                        <swiper-slide><img src="~/images/logo/slide3.png" /></swiper-slide>
                        <swiper-slide><img src="~/images/logo/slide4.png" /></swiper-slide>
                        <swiper-slide><img src="~/images/logo/slide5.png" /></swiper-slide>
                    </swiper-container>
                    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-element-bundle.min.js"></script>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="product-offer mb-30" style="height: 43%;">
                <img class="img-fluid" src="~/images/logo/slide6.png" alt="">
            </div>
            <div class="product-offer mb-30" style="height: 43%">
                <img class="img-fluid" src="~/images/logo/slide7.png" alt="">
            </div>
        </div>
    </div>
</div>
@*Slide end*@

@*Category start*@
<div class="container-fluid pt-5" >
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4" style="color: #F2765E;"><span class="bg-secondary pr-3">DANH MỤC SẢN PHẨM</span></h2>
    <div class="row px-xl-5 pb-3" style="margin-left: -50px; margin-right: -50px;">
       @{
            await Html.RenderPartialAsync("CategoryPartial");
       }
       

    </div>
</div>
@*Category end*@



@* Flash sale start *@
<div id="list-product" class="row sm-gutter" style="background-color: #FFFFFF; padding-top: 15px;">
    <div class="flashsale" style="padding-left: 15px;">
        <img src="~/images/logo/FS.png" />        
        @* FlashSale *@
        @* <div style="font-size: 25px; margin-left: 10px" id="countdown">00:00:00</div> *@
        <div style="font-size: 25px; margin-left: 10px" id="countdown">Thời gian còn lại cho Flash Sale:</div>
    </div>
    
    @foreach (var product in Model.OrderByDescending(e => e.discount))
    {
        i++;
        if (i < 6)
        {
            <div class="col l-2-4 m-3 c-6 home-product-item">
                <a class="home-product-item-linkk" href="/Products/Details/@product.Id">

                    @* Ảnh sản phẩm *@
                    <div class="home-product-item__imgg"><img class="img-fluid" src="~/images/products/@product.productImages![0].URL" alt=""></div>

                    <div class="home-product-item__info">
                        @* Tên sản phẩm *@
                        <h4 class="home-product-item__name" style="font-size: 14px">@product.name</h4>
                        <div class="home-product-item__price">
                            @* Giá sản phẩm *@
                            <p class="home-product-item__price-old">@Convert.ToDecimal(product.price).ToString("N0")đ</p>
                            <p class="home-product-item__price-new">@Convert.ToDecimal(product.price - ((product.price * product.discount) / 100)).ToString("N0")đ</p>
                            <i class="home-product-item__ship fas fa-shipping-fast"></i>
                        </div>
                        <div class="home-product-item__footer">
                            <div class="home-product-item__save">
                                <input type="checkbox" name="save-check" id="heart-save">
                                <label for="heart-save" class="far fa-heart"></label>
                            </div>
                            <div class="home-product-item__rating-star">
                                <i class="star-checked far fa-star"></i>
                                <i class="star-checked far fa-star"></i>
                                <i class="star-checked far fa-star"></i>
                                <i class="star-checked far fa-star"></i>
                                <i class="star-checked far fa-star"></i>
                            </div>
                            @* Số lượng đã bán *@
                            <div class="home-product-item__saled">Đã bán 3,8k</div>
                        </div>
                        @* Địa chỉ shop *@
                        <div class="home-product-item__origin">TP Hồ Chí Minh</div>
                        <div class="home-product-item__favourite">
                            Yêu thích
                        </div>
                        <div class="home-product-item__sale-off">
                            @* Giảm giá (bao nhiêu %) *@
                            <div class="home-product-item__sale-off-value">@(product.discount)%</div>
                            <div class="home-product-item__sale-off-label">GIẢM</div>
                        </div>
                    </div>
                </a>
            </div>
        }


    }
</div>
 @* Flash sale end *@


@*  Khuyen mai start *@

<ul class="option-promo">
    <li>
        <a href="#">
            <img width="50" height="50" src="~/images/logo/smartphone.png">
            <span>
                Smartphone<br>Cao cấp
            </span>
        </a>
    </li>
    <li>
        <a href="#">
            <img width="50" height="50" src="~/images/logo/giare.png">
            <span>
                Giảm sâu lên<br>Đến 50%
            </span>
        </a>
    </li>
    <li>
        <a href="#">
            <img width="50" height="50" src="~/images/logo/maylocnuoc.png">
            <span>
                Máy lọc nước<br>Từ 3.990.000đ
            </span>
        </a>
    </li>
    <li>
        <a href="#">
            <img width="50" height="50" src="~/images/logo/bepdien.png">
            <span>
                Bếp điện<br>Từ 2.790.000đ
            </span>
        </a>
    </li>
</ul>

 @* khuyen mai end *@


@* Product start *@
<div class="home-product">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4" style="color: #F2765E; padding-top: 10px"><span class="bg-secondary pr-3">SẢN PHẨM HÔM NAY</span></h2>

    <div id="list-product" class="row sm-gutter">

        @foreach (var product in Model)
        {
            <div class="col l-2-4 m-3 c-6 home-product-item">
                <a class="home-product-item-link" href="/Products/Details/@product.Id">

                    @* Ảnh sản phẩm *@
                    <div class="home-product-item__imggg"><img class="img-fluid" src="~/images/products/@product.productImages![0].URL" alt=""></div>

                    <div class="home-product-item__info">
                        @* Tên sản phẩm *@
                        <h4 class="home-product-item__name">@product.name</h4>
                        <div class="home-product-item__price">
                            @* Giá sản phẩm *@
                            <p class="home-product-item__price-old">@Convert.ToDecimal(product.price).ToString("N0")đ</p>
                            <p class="home-product-item__price-new">@Convert.ToDecimal(product.price - ((product.price * product.discount) / 100)).ToString("N0")đ</p>
                            <i class="home-product-item__ship fas fa-shipping-fast"></i>
                        </div>
                        <div class="home-product-item__footer">
                            <div class="home-product-item__save">
                                <input type="checkbox" name="save-check" id="heart-save">
                                <label for="heart-save" class="far fa-heart"></label>
                            </div>
                            <div class="home-product-item__rating-star">
                                <i class="star-checked far fa-star"></i>
                                <i class="star-checked far fa-star"></i>
                                <i class="star-checked far fa-star"></i>
                                <i class="star-checked far fa-star"></i>
                                <i class="star-checked far fa-star"></i>
                            </div>
                            @* Số lượng đã bán *@
                            <div class="home-product-item__saled">Đã bán 3,8k</div>
                        </div>
                        @* Địa chỉ shop *@
                        <div class="home-product-item__origin">TP Hồ Chí Minh</div>
                        <div class="home-product-item__favourite">
                            Yêu thích
                        </div>
                        <div class="home-product-item__sale-off">
                            @* Giảm giá (bao nhiêu %) *@
                            <div class="home-product-item__sale-off-value">@(product.discount)%</div>
                            <div class="home-product-item__sale-off-label">GIẢM</div>
                        </div>
                    </div>
                    @* <div class="home-product-item-footer">Tìm sản phẩm tương tự</div> *@
                </a>
            </div>
        }
        
        

        
    </div>
</div>

@* Product end *@






<script src="~/js/home.js"></script>