@model JZenoApp.Models.Bill

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
    var detailorder = Model.detailsOrders!.FirstOrDefault();
    var x = 0;
    double gia = Convert.ToDouble(Model.Voucher.price);
    double giagiam = Convert.ToDouble(detailorder.totalPrice) * gia;
    

}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
<link href="~/css/bootstrap.min.css" rel="stylesheet" />

<style>
    .xacthucorrder, .huyorrder, .xoaorrder {
        padding-top: 15px;
    }

    .xacthucorrder {
        padding-top: 20px;
    }

    .button-xacnhan, .button-huy, .button-xoa {
        position: relative;
        left: 200px;
    }

    .createandedit {
        height: auto;
    }
</style>

<div class="createandedit">

    <div class="row" style="height: auto">

        <div class='text-center alert alert-warning alert-sm' style="display:none;@TempData["displayviss"]">
            @TempData["error_order_delete"]
        </div>
        <div style="border: 1px solid #ccc; background-color: #FFFFFF" class="col-xs-12 col-md-8">
            
            <div class="editcreate">
                <div class="status_dh" style="padding-top: 15px;padding-bottom: 10px; border-bottom: 1px solid #ccc; font-weight: bold">
                    <img src="~/images/voucher/delivery.png" style="width:22px; padding-bottom: 7px" />
                    @{
                        if (Convert.ToInt16(Model.billStatic) == 0)
                        {
                            <span>Chờ Thanh Toán</span>
                        }
                        else if (Convert.ToInt16(Model.billStatic) == 1)
                        {
                            <span>Chờ Vận Chuyển</span>
                        }
                        else if (Convert.ToInt16(Model.billStatic) == 2)
                        {
                            <span>Đang Giao</span>
                        }
                        else if (Convert.ToInt16(Model.billStatic) == 3)
                        {
                            <span>Đã Giao</span>
                        }
                        else if (Convert.ToInt16(Model.billStatic) == 4)
                        {
                            <span>Đã Hủy</span>
                        }
                        else if (Convert.ToInt16(Model.billStatic) == 5)
                        {
                            <span>Trả Tiền/Hoàn Tiền</span>
                        }
                    }

                </div>
                <div class="detail_product">
                    <div style="font-weight: bold; padding-top: 15px" class="text-center details_sps">THÔNG TIN SẢN PHẨM</div>
                    <table>
                        
                        @foreach(var item in Model.detailsOrders)
                        {
                            <div class="row">
                                <div class="col-3">
                                   @foreach(var hinh in item.Product.productImages!)
                                    {
                                    if (x == 0)
                                    {
                                    <img src="~/images/products/@hinh.URL" style="width:200px;" /> @* Lấy ảnh dùm tui nha *@
                                    }
                                    x++;
                                    }
                                </div>
                                <div class="col-6" style="display:flex; align-items:center;"  >
                                    <span style="margin-left:10px;">@item.Product.name (@item.color - @item.size)</span>
                                </div>
                                <div class="col-3" style="display:flex; align-items:center;">
                                    <span >@item.price x @item.quantity = <span style="color:red;">@Convert.ToDecimal(item.totalPrice).ToString("N0")đ</span></span>
                                </div>
                            </div>
                            
                           
                            
                            
                        }
                    </table>
                    <div style="margin-top:10px;">
                        Giảm giá:<span style="color:red;"> @Convert.ToDecimal(giagiam).ToString("N0")đ</span>
                    </div>
                    <div style="font-size:17px;font-weight:600;">Tổng tiền thanh toán: <span style="color:red;">@Convert.ToDecimal(Model.price).ToString("N0")đ</span></div>
                </div>
                <!--
                {
                    if (Convert.ToInt16(Model.billStatic) == 0 || Convert.ToInt16(Model.billStatic) == 1)
                    {
                                <div class="row xacthucorrder">
                                    <div class="col pull-left left-pric">
                                        <img src="~/images/voucher/checklist.png" style="width:22px; padding-bottom: 7px" />
                                        <span class="text-xacnhan">Xác nhận đơn hàng</span>
                                    </div>

                            if (Convert.ToInt16(Model.billStatic) == 0)
                            {
                                            <div class="col button-xacnhan">
                                                <img src="~/images/voucher/handwriting.png" style="width:22px; padding-bottom: 7px" />
                                                <a class="btn btn-primary btn-sm" href="">
                                                    XÁC NHẬN ĐƠN HÀNG
                                                </a>
                                            </div>
                            }
                            else if (Convert.ToInt16(Model.billStatic) == 1)
                            {
                                            <div class="col button-xacnhan">
                                                <img src="~/images/voucher/check.png" style="width:22px;" />
                                                <a class="btn btn-primary btn-sm" href="javascript::0">
                                                    <span style="color:#fff;">Đã Xác Nhận Đơn Hàng</span>
                                                </a>
                                            </div>
                            }
                                </div>
                    }
                }
                {
                    if (Convert.ToInt16(Model.billStatic) == 0 || Convert.ToInt16(Model.billStatic) == 4)
                    {
                                <div class="row huyorrder">
                                    <div class="col pull-left left-pric">
                                        <img src="~/images/voucher/checklist.png" style="width:22px; padding-bottom: 7px" />
                                        <span class="text-xacnhan">Hủy đơn hàng</span>
                                    </div>

                            if (Convert.ToInt16(Model.billStatic) == 4)
                            {
                                            <div class="col button-huy">
                                                <img src="~/images/voucher/multiply.png" style="width:22px;" />
                                                <span style="color:#fff;">Đơn hàng đã hủy</span>
                                            </div>
                            }
                            else if (Convert.ToInt16(Model.billStatic) == 0)
                            {
                                            <div class="col button-huy">
                                                <img src="~/images/voucher/multiply.png" style="width:22px;" />
                                                <span style="color:#fff;">Hủy Đơn Hàng</span>
                                            </div>
                            }


                                </div>
                    }
                }
                <div class="row xoaorrder">
                    <div class="col pull-left left-pric">
                        <img src="~/images/voucher/checklist.png" style="width:22px; padding-bottom: 7px" />
                        <span class="text-xacnhan">Theo Dõi Đơn Hàng</span>
                    </div>
                    <div class="col button-xoa" style="padding-bottom: 10px">
                        <img src="~/images/voucher/eye.png" style="width:22px; " />
                        <a href="" class="btn btn-sm btn-success delete_orderss btn_confirm" style="font-size: 14px;"><span style="color:#fff;">Theo Dõi Đơn Hàng</span></a>
                    </div>
                </div>
                 -->
            </div>
        </div>
        <div style="border: 1px solid #ccc; background-color: #FFFFFF; height: 550px" class="col-xs-12 col-md-4">
            <div class="order_customer">
                <p style="color: #4568FF; text-align: center; font-size: 26px; font-weight:bold; border-bottom: 1px solid #ccc; padding-top:5px; padding-bottom: 10px" class="name_cus">@Model.User.fullName</p>
                <div class="tt-order" style="border-bottom: 1px solid #ccc">
                    <p style="font-weight: bold" class="text_thss">THÔNG TIN KHÁCH HÀNG</p>
                    <p style="color: #4568FF" class="texts-order"><span style="color:#000; ">Email: </span>@Model.User.Email</p>
                    <p style="color: #4568FF" class="texts-order"><span style="color:#000;">Số điện thoại: </span>@Model.User.PhoneNumber</p>
                </div>
                <div class="tt-order" style="border-bottom: 1px solid #ccc">
                    <p style="font-weight: bold; padding-top: 7px" class="text_thss">ĐỊA CHỈ GIAO HÀNG</p>
                    <p style="color: #4568FF" class="texts-order"><span style="color:#000;">Địa chỉ: </span>@Model.User.address</p>
                </div>
                <div class="tt-order" style="border-bottom: 1px solid #ccc">
                    <p style="font-weight: bold; padding-top: 7px" class="text_thss">PHƯƠNG THỨC THANH TOÁN</p>
                    <p style="color: #4568FF" class="texts-order"><span style="color:#000;">Thanh toán: </span>Thanh toán tiền mặt</p>
                </div>
                <div class="tt-order" style="border-bottom: 1px solid #ccc">
                    <p style="font-weight: bold; padding-top: 7px" class="text_thss">NGÀY ĐẶT ĐƠN HÀNG</p>
                    <p style="color: #4568FF" class="texts-order"><span style="color:#000;">Thời gian: </span>@Model.date</p>
                </div>
                <div class="tt-order">
                    <p style="font-weight: bold; padding-top: 7px;" class="text_thss">TRẠNG THÁI ĐƠN HÀNG</p>
                    @{
                        if (Convert.ToInt16(Model.billStatic) == 0)
                        {
                            <span style="color: red; font-weight:bold" class="statys">Chờ Xác Nhận</span>
                        }
                        else if (Convert.ToInt16(Model.billStatic) == 1)
                        {
                            <span style="color: red; font-weight:bold" class="statys">Chờ vận chuyển</span>
                        }
                        else if (Convert.ToInt16(Model.billStatic) == 2)
                        {
                            <span style="color: red; font-weight:bold" class="statys">Đang Giao</span>
                        }
                        else if (Convert.ToInt16(Model.billStatic) == 3)
                        {
                            <span style="color: red; font-weight:bold" class="statys">Đã Giao</span>
                        }
                        else if (Convert.ToInt16(Model.billStatic) == 4)
                        {
                            <span style="color: red; font-weight:bold" class="statys">Đã Hủy</span>
                        }
                        else if (Convert.ToInt16(Model.billStatic) == 5)
                        {
                            <span style="color: red; font-weight:bold" class="statys">Trà Hàng/Hoàn Tiền</span>
                        }
                    }
                </div>

            </div>
        </div>
    </div>
</div>
