@model JZenoApp.Models.Bill

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bill</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.payment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.payment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.deliveryForm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.deliveryForm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Voucher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Voucher.voucherID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.fullName)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.billStatic)
        </dd>
        @foreach(var item in Model.detailsOrders!)
        {
            <h1>hello @item.quantity</h1>
            <h2>hello @item.Product.name</h2>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.billID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
