@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@model IEnumerable<JZenoApp.Models.Bill>


@{
    ViewData["Title"] = "Index";
    ViewBag.Current = "QuanLyDonHang";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

@* ============================ *@
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <p>Danh Sách Đơn Hàng</p>
    </div>
    <div class="card-body">
        <div class="table-responsive" style="overflow-x: clip !important;">
            <table class="table table-bordered" id="example" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.price)
                        </th>
                        <th>
                            Khuyến Mãi
                        </th>
                        <th>
                            Số Điện Thoại
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.billStatic)
                        </th>

                        <th>Chi tiết</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.price)
                        </th>
                        <th>
                            Khuyến Mãi
                        </th>
                        <th>
                            Số Điện Thoại
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.billStatic)
                        </th>

                        <th>Chi tiết</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.date)
                            </td>
                            <td>
                                @Convert.ToDecimal(item.price).ToString("N0")đ
                            </td>
                            <td>
                                @if (item.Voucher == null)
                                {
                                    <div>Không áp dụng</div>
                                }
                                else
                                {
                                    <div>Đã áp dụng</div>
                                }
                            </td>
                            <td>
                                @if (item.User == null)
                                {
                                    @Html.DisplayFor(modelItem => item.phone)
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => item.User!.PhoneNumber)
                                }
                            </td>
                            <td>
                                @switch (item.billStatic)
                                {
                                    case 0:
                                        <div class="text-warning"><strong>Chờ Thanh Toán</strong></div>
                                        break;
                                    case 1:
                                        <div class="text-danger"><strong>Đã Hủy</strong></div>
                                        break;
                                    case 2:
                                        <div class="text-success"><strong>Đã Thanh Toán</strong></div>
                                        break;
                                    default:
                                        <div class="text-warning"><strong>Chờ Thanh Toán</strong></div>
                                        break;
                                }
                            </td>
                            <td style="text-align: center;">
                                <a asp-action="Details" asp-route-id="@item.billID" style="text-decoration: none">
                                    <span class="btn btn-primary" style="border-radius: 25px;">
                                        <i class="fas fa-info-circle" style="color: #fff"></i>
                                    </span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    new DataTable('#example');
</script>