@page
@model ExternalLoginsModel
@{
    ViewData["Title"] = "Manage your external logins";
    ViewData["ActivePage"] = ManageNavPages.ExternalLogins;
}
<link rel="stylesheet" href="~/css/profile.css" />
<partial name="_StatusMessage" for="StatusMessage" />
@if (Model.CurrentLogins?.Count > 0)
{
    <div class="dbong">
        <h2 style="font-weight:bold;font-size:3rem;">Đăng nhập đã đăng ký</h2>
        <h5 style="color: #6F6F6F;">Server</h5>
    <table class="table">
        <tbody>
            @foreach (var login in Model.CurrentLogins)
            {
                <tr>
                    <td id="@($"login-provider-{login.LoginProvider}")">@login.ProviderDisplayName</td>
                    <td>
                        @if (Model.ShowRemoveButton)
                        {
                            <form id="@($"remove-login-{login.LoginProvider}")" asp-page-handler="RemoveLogin" method="post">
                               
                                <div class="form-group" style="display:block">
                                    <div class="col-md-offset-2 col-md-12" style="display:flex;justify-content:center;">
                                            <input asp-for="@login.LoginProvider" name="LoginProvider" type="hidden" />
                                            <input asp-for="@login.ProviderKey" name="ProviderKey" type="hidden" />
                                            <button type="submit" style="background-color:var(--main-color1); color:white;padding: 8px 18px; border-radius:8px;" class="btn btn-primary" title="Remove this @login.ProviderDisplayName login from your account">Remove</button>
                                    </div>
                                </div>
                               
                            </form>
                        }
                        else
                        {
                            @: &nbsp;
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
}

@if (Model.OtherLogins?.Count > 0)
{
    <div class="dbong">
        <h2 style="font-weight:bold;font-size:3rem;">Thêm một tài khoản khác để đăng nhập</h2>
        <h5 style="color: #6F6F6F;">Tài khoản mới của bạn</h5>
        <form id="link-login-form" asp-page-handler="LinkLogin" method="post" class="form-horizontal">
            <div id="socialLoginList">
               <p>
                    @foreach (var provider in Model.OtherLogins)
                   {
                     <div class="form-group">
                         <div class="col-md-offset-2 col-md-12" style="display:flex;justify-content:center;">
                                 <button style="background-color:var(--main-color1); color:white;padding: 8px 18px; border-radius:8px;" id="@($"link-login-button-{provider.Name}")" type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                         </div>
                     </div>
                        
                  }
               </p>
            </div>
        </form>
    </div>
}

<style>
    .dbong {
        background-color: white;
        padding: 20px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 8px
    }
</style>