@model JZenoApp.Models.Partner

@{
    ViewData["Title"] = "Chi Tiết Đối Tác";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
    <link rel="stylesheet" href="~/css/managementForm.css">
    <link href="https://cdn.datatables.net/1.13.3/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.3/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/js/jquery.dataTables.min.js"></script>
}


<div class="row" style="background: #fff; padding: 20px; margin: 10px; border-radius: 8px;">
    <div class="col-md-15">
        <form enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group row p-0">
                <span class="col label-name">Tên Đối Tác</span>
                <p class="delete-form col-10 m-0">
                    @Html.DisplayFor(model => model.name)
                </p>
            </div>
            <div class="form-group row p-0">
                <span class="col label-name">Hình Ảnh</span>
                <p class="delete-form col-10 m-0">
                    @if (Model.image == Model.image)
                    {
                        <img src="~/images/partner/default_avt.png" id="img-not-found" class="img-create" width="200px" height="200px" />
                    }
                </p>
            </div>
            <div class="form-group row p-0">
                <span class="col label-name">Mô Tả</span>
                <p class="delete-form col-10 m-0">
                    @Html.DisplayFor(model => model.description)
                </p>
            </div>
            <div class="form-group row p-0">
                <span class="col label-name">Ngày Đăng</span>
                <p class="delete-form col-10 m-0">
                    @Html.DisplayFor(model => model.dateCreated)
                </p>
            </div>
            <div class="form-group row p-0">
                <span class="col label-name">Trạng Thái</span>
                <p class="delete-form col-10 m-0">
                    @if (Model.isActive == true)
                    {
                        <span>Đang hoạt động</span>
                    }
                    else
                    {
                        <span>Ngừng hoạt động</span>
                    }
                </p>
            </div>
        </form>
    </div>
</div>
<!--
    <div>
    <dl class="row" style="background: #fff; padding: 20px; margin: 10px; border-radius: 8px;">
        <dt class = "col-sm-2">
            <span>Tên Đối Tác</span>
        </dt>
        <dd class = "col-sm-10">
@Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            <span>Hình Ảnh</span>
        </dt>
        <dd class = "col-sm-10">
@Html.DisplayFor(model => model.image)
        </dd>
        <dt class = "col-sm-2">
            <span>Mô Tả</span>
        </dt>
        <dd class = "col-sm-10">
@Html.DisplayFor(model => model.description)
        </dd>
        <dt class = "col-sm-2">
            <span>Ngày Bắt Đầu</span>
        </dt>
        <dd class = "col-sm-10">
@Html.DisplayFor(model => model.dateCreated)
        </dd>
        <dt class = "col-sm-2">
            <span>Trạng Thái</span>
        </dt>
        <dd class = "col-sm-10">
@Html.DisplayFor(model => model.isActive)
        </dd>
    </dl>
</div>
-->

<div>
    <a asp-action="Edit" asp-route-id="@Model?.partnerId">Chỉnh sửa</a> |
    <a asp-action="Index">Trở lại</a>
</div>
