@model IEnumerable<JZenoApp.Models.Partner>

@{
    ViewData["Title"] = "Quản Lý Đối Tác";
    ViewBag.Current = "QuanLyDoiTac";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    <link href="https://cdn.datatables.net/1.13.3/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.3/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/js/jquery.dataTables.min.js"></script>
}
<style>
    .create-btn {
        color: #fff;
        position: relative;
        overflow: visible;
        outline: 0;
        background: #ee4d2d !important;
        max-width: 250px;
        width: 180px;
        height: 48px;
        padding: 0 20px;
        text-overflow: ellipsis;
        flex-direction: column;
        box-sizing: border-box;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,.09);
        border-radius: 2px;
        border: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: capitalize;
        text-decoration: none;
    }
</style>
<table id="example"  class="table table table-striped bg-white" style="width:100%;">
    <thead>
        <tr>
            <th>
            </th>
            <th class="text-nowrap">
                Tên Cửa Hàng
            </th>
            <th>
                Mô Tả
            </th>
            <th>
                Ngày Đăng
            </th>
            <th>
                Trạng Thái
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                <img src="/images/partner/@item.image" height="50"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateCreated)
            </td>
                @if (item.isActive == true)
                {
                    <td>
                        Đã Xác Nhận
                        <button style="border:none; background:transparent;" data-userid="@item.partnerId" id="update-isActive">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0,0,256,256"><g fill="#ee4d2d" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(10.66667,10.66667)"><path d="M11,2l-0.77539,3.41797l-3.22461,3.58203v12h11.25l3.75,-8.4375v-3.5625h-9l1,-4l-1,-3zM2,9v12h3v-12z"></path></g></g></svg>
                        </button>
                    </td>
                }
                else
                {
                    <td>
                        Chờ Xác Nhận
                        <button style="border:none; background:transparent;" data-userid="@item.partnerId" id="update-isActive">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0,0,256,256"><g fill="#ee4d2d" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(10.66667,10.66667)"><path d="M2,3v12h3v-12zM8.875,3c-1.036,0 -1.875,0.839 -1.875,1.875v9.53516c0,0.497 0.19783,0.97417 0.54883,1.32617l6.01367,6.01367c0,0 1.875,-0.44712 1.875,-2.20312c0.001,-0.68 -1.4375,-4.54687 -1.4375,-4.54687h6c1.036,0 2,-0.964 2,-2v-0.94141c0,-0.41 -0.08595,-0.81545 -0.25195,-1.18945l-3.00391,-6.75586c-0.301,-0.678 -0.97189,-1.11328 -1.71289,-1.11328z"></path></g></g></svg>
                        </button>
                    </td>
                }
            <td style="text-align: center;">
                <span class="btn btn-primary" style="min-width: 42px !important;">
                        <a href="/Partners/Details/@item.partnerId">
                   <i class="fa-solid fa-circle-info"></i>
                   </a> 
                </span>
            </td>
        </tr>
    }
    </tbody>
    <tfoot>
        <tr>
            <th>
               
            </th>
            <th>
                Tên Cửa Hàng
            </th>
            <th>
                Mô Tả
            </th>
            <th>
                Ngày Đăng
            </th>
            <th>
                Trạng Thái
            </th>
            <th></th>
        </tr>
    </tfoot>
</table>
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
    $('button[id^=update-isActive]').on("click", function () {
        var id = $(this).attr('data-userid');
        $.ajax({
            method: "POST",
            url: "/Manage/Partners/activePartner/" + id,
            dataType: "json",
            success: function (data) {
                window.location.href = "";
            }
        });
    });
</script>