@model IEnumerable<JZenoApp.Models.Partner>

@{
    ViewData["Title"] = "Quản Lý Đối Tác";
    ViewBag.Current = "QuanLyDoiTac";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

@* ============================ *@
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <a href="/Admin/Role" class="create-btn d-flex">
            Quản Lý Role
        </a>
    </div>
    <div class="card-body">
        <div class="table-responsive" style="overflow-x: clip !important;">
            <table class="table table-bordered" id="example" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>

                        </th>
                        <th>
                            Tên Cửa Hàng
                        </th>
                        <th>
                            Mô Tả
                        </th>
                        <th>
                            Ngày Đăng
                        </th>
                        <th style="text-align: center;">
                            Trạng Thái
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>

                        </th>
                        <th>
                            Tên Cửa Hàng
                        </th>
                        <th>
                            Mô Tả
                        </th>
                        <th>
                            Ngày Đăng
                        </th>
                        <th style="text-align: center;">
                            Trạng Thái
                        </th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <img src="/images/partner/@item.image" height="50" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.name)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.dateCreated)
                            </td>
                            @if (item.isActive == true)
                            {
                                <td style="text-align: center;">
                                    <button style="border:none; background:transparent;" data-userid="@item.partnerId" id="update-isActive">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="48px" height="48px" viewBox="0,0,256,256"><defs><radialGradient cx="15" cy="24" r="14" gradientUnits="userSpaceOnUse" id="color-1"><stop offset="0" stop-color="#000000"></stop><stop offset="1" stop-color="#000000" stop-opacity="0"></stop></radialGradient></defs><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="translate(256,256) rotate(180) scale(5.33333,5.33333)"><path d="M33,9c-2.965,0 -15.035,0 -18,0c-8.284,0 -15,6.716 -15,15c0,8.284 6.716,15 15,15c2.965,0 15.035,0 18,0c8.284,0 15,-6.716 15,-15c0,-8.284 -6.716,-15 -15,-15z" fill="#ee4d2d"></path><circle cx="15" cy="24" r="14" fill="url(#color-1)"></circle><circle cx="15" cy="24" r="12" fill="#f9f9f9"></circle></g></g></svg>
                                    </button>
                                </td>
                            }
                            else
                            {
                                <td style="text-align: center;">
                                    <button style="border:none; background:transparent;" data-userid="@item.partnerId" id="update-isActive">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="48px" height="48px" viewBox="0,0,256,256"><defs><radialGradient cx="15" cy="24" r="14" gradientUnits="userSpaceOnUse" id="color-1"><stop offset="0" stop-color="#000000"></stop><stop offset="1" stop-color="#000000" stop-opacity="0"></stop></radialGradient></defs><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.33333,5.33333)"><path d="M33,9c-2.965,0 -15.035,0 -18,0c-8.284,0 -15,6.716 -15,15c0,8.284 6.716,15 15,15c2.965,0 15.035,0 18,0c8.284,0 15,-6.716 15,-15c0,-8.284 -6.716,-15 -15,-15z" fill="#a1a1a1"></path><circle cx="15" cy="24" r="14" fill="url(#color-1)"></circle><circle cx="15" cy="24" r="12" fill="#f9f9f9"></circle></g></g></svg>
                                    </button>
                                </td>
                            }
                            <td style="text-align: center;">
                                <a href="/Partners/Details/@item.partnerId" style="text-decoration: none">
                                    <span class="btn btn-primary" style="min-width: 65px !important; border-radius: 25px;">
                                        <i class="fas fa-info-circle" style="color: #fff"></i>
                                    </span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    new DataTable('#example');

    $(document).ready(function () {
        $('#example').DataTable();
    });
    $('button[id^=update-isActive]').on("click", function () {
        var id = $(this).attr('data-userid');
        $.ajax({
            method: "POST",
            url: "/Manage/Partners/activePartner/" + id,
            dataType: "json",
            success: function (data) {
                window.location.href = "";
            }
        });
    });
</script>

