@model IEnumerable<JZenoApp.Models.Partner>

@{
    ViewData["Title"] = "Quản Lý Đối Tác";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
    <link href="https://cdn.datatables.net/1.13.3/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.3/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/js/jquery.dataTables.min.js"></script>
}
<style>
    .create-btn {
        color: #fff;
        position: relative;
        overflow: visible;
        outline: 0;
        background: #ee4d2d !important;
        max-width: 250px;
        width: 180px;
        height: 48px;
        padding: 0 20px;
        text-overflow: ellipsis;
        flex-direction: column;
        box-sizing: border-box;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,.09);
        border-radius: 2px;
        border: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: capitalize;
        text-decoration: none;
    }
</style>



<p>
    <a asp-action="Create" class="create-btn" style="color: #fff !important;">Thêm Mới</a>
</p>
<table class="table table table-striped" style="width:100%;">
    <thead>
        <tr>
            <th>
                Tên Cửa Hàng
            </th>
            <th>
                Hình Ảnh
            </th>
            <th>
                Mô Tả
            </th>
            <th>
                Ngày Đăng
            </th>
            <th>
                Trạng Thái
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isActive)
            </td>
            <td style="text-align: center;">
                <span class="btn btn-warning" style="min-width: 42px !important;">
                    <a asp-action="Edit" asp-route-id="@item.partnerId">
                    <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                </span>
                <span class="btn btn-primary" style="min-width: 42px !important;">
                   <a asp-action="Details" asp-route-id="@item.partnerId">
                   <i class="fa-solid fa-circle-info"></i>
                   </a> 
                </span>
               <span class="btn btn-danger" style="min-width: 42px !important;" >
                   <a asp-action="Delete" asp-route-id="@item.partnerId">
                    <i class="fa-solid fa-trash"></i>
                   </a>
               </span>
               
            </td>
        </tr>
    }
    </tbody>
    <tfoot>
        <tr>
            <th>
                Tên Cửa Hàng
            </th>
            <th>
                Hình Ảnh
            </th>
            <th>
                Mô Tả
            </th>
            <th>
                Ngày Đăng
            </th>
            <th>
                Trạng Thái
            </th>
            <th></th>
        </tr>
    </tfoot>
</table>
