<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - Shopbee</title>
    <link rel="icon" href="~/images/logo/shopee-logo.png" type="image/x-icon">
    <link rel="stylesheet" href="~/css/base.css">
    <link href="~/css/ManagementLayout.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/globalStyles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
</head>

<body style="background-color: #EBEEF0">
    <div class="p-0 m-0">
        <div class="nav-left bg-shopbee" style=" position: fixed;">
            <a href="@Url.Action("Index", "Home")">
                <img src="~/images/logo/logo-full-white.png" alt="logo" width="100" style="display: flex; margin: 0 auto;" />
            </a>
            <ul class="list-menu">
                <li class="@(ViewBag.Current == "ThongKe" ? "active" : "")">
                    <a href="/Manage/Statistic">
                        <i class="fa-solid fa-chart-line"></i> Thống Kê
                    </a>
                </li>
                <li class="@(ViewBag.Current == "QuanLySanPham" ? "active" : "")">
                    <a href="/Manage/Products">
                        <i class="fa-solid fa-boxes-stacked"></i> Quản Lý Sản Phẩm
                    </a>
                </li>
                <li class="@(ViewBag.Current == "QuanLyDonHang" ? "active" : "")">
                    <a href="@Url.Action("Index", "Bills")">
                        <i class="fa-solid fa-box"></i> Quản Lý Đơn Hàng
                    </a>
                </li>
                <li class="@(ViewBag.Current == "QuanLyThanhVien" ? "active" : "")">
                    <a href="@Url.Action("ThanhVien", "Management")">
                        <i class="fa-solid fa-user"></i> Quản Lý Thành Viên
                    </a>
                <li class="@(ViewBag.Current == "QuanLyDanhMuc" ? "active" : "")">
                    <a href="/Manage/Categories">
                        <i class="fa-solid fa-box"></i> Quản Lý Danh Mục
                    </a>
                </li>
                <li class="@(ViewBag.Current == "QuanLyVoucher" ? "active" : "")">
                    <a href="@Url.Action("Index", "Vouchers")">
                        <i class="fa-solid fa-box"></i> Quản Lý Voucher
                    </a>
                </li>

                <li class="@(ViewBag.Current == "QuanLyNhanVien" ? "active" : "")">
                    <a href="@Url.Action("Index", "Personnel")">
                        <i class="fa-solid fa-clipboard-user"></i> Quản Lý Nhân Viên
                    </a>
                </li>

                <li class="@(ViewBag.Current == "QuanLyKhaoSat" ? "active" : "")">
                    <a href="@Url.Action("KhaoSat", "Management")">
                        <i class="fa-solid fa-square-poll-vertical"></i> Quản Lý Khảo Sát
                    </a>
                </li>
                <li>

                    <i class="fa-solid fa-power-off"></i> @Html.ActionLink("Đăng xuất", "Logout", "User")
                </li>
            </ul>
        </div>

        <div class="content-right">
            <div class="nav-content mb-3" style="background: #fff">
                <div class="nav" style="line-height: 44px; padding: 0 8px; display: block;">
                    <div class="d-flex bd-highlight">
                        <div class="p-2 flex-grow-1 bd-highlight" style="color: #f7432e; font-weight: bold; align-items: center; display: flex;">
                            @* <img src="~/Content/Images/@ViewBag.Icon" width="20" /> *@
                            @Convert.ToString(ViewBag.Title)
                        </div>
                        

                        <div class="p-2 bd-highlight">
                            <div style="background: rgb(251, 88, 49, 0.1);border-radius: 14px; display: flex;  align-items: center;">
                                <img src="~/images/users/user.png" alt="avatar" style="border-radius: 9999px; width: 45px; padding: 5px;" />
                                <p style="margin: 0; padding-right: 6px;">
                                    Admin
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>