<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Quản Lý Shopbee</title>
    @using Microsoft.AspNetCore.Identity
    @inject SignInManager<User> SignInManager
    @inject UserManager<User> UserManager

    <link href="https://cdn.datatables.net/1.13.3/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <link href="~/css/tableCustom.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.3/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/js/jquery.dataTables.min.js"></script>
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <div id="wrapper">

        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon rotate-n-15">
                    <img src="~/images/logo/logo.png" width="50"/>
                </div>
                <div class="sidebar-brand-text mx-3">Shopbee <sup>QUẢNTRỊ</sup></div>
            </a>

            <hr class="sidebar-divider my-0">

            <li class="nav-item @(ViewBag.Current == "ThongKe" ? "active" : "")">
                <a href="/Manage/Statistic" class="nav-link">
                    <i class="fas fa-chart-line"></i>
                    <span>Trang Chủ</span>
                </a>
            </li>

            <hr class="sidebar-divider">

            <div class="sidebar-heading">
                Quản Lý Shop
            </div>
            <li class="nav-item @(ViewBag.Current == "QuanLySanPham" ? "active" : "")">
                <a href="/Manage/Products" class="nav-link">
                    <i class="fab fa-dropbox"></i>
                    <span>
                        Quản Lý Sản Phẩm
                    </span>
                </a>
            </li>
            <li class="nav-item @(ViewBag.Current == "QuanLyDonHang" ? "active" : "")">
                <a href="@Url.Action("Index", "Bills")" class="nav-link">
                    <i class="fas fa-box"></i>
                    <span>Quản Lý Đơn Hàng</span>
                </a>
            </li>
            <li class="nav-item @(ViewBag.Current == "QuanLyDanhMuc" ? "active" : "")">
                <a href="/Manage/Categories" class="nav-link">
                    <i class="fas fa-list-alt"></i>
                    <span>Quản Lý Danh Mục</span>
                </a>
            </li>
            <li class="nav-item @(ViewBag.Current == "QuanLyVoucher" ? "active" : "")">
                <a href="@Url.Action("Index", "Vouchers")" class="nav-link">
                    <i class="fas fa-ticket-alt"></i>
                    <span>
                        Quản Lý Voucher
                    </span>
                </a>
            </li>

            <div class="sidebar-heading">
                Đối Tác
            </div>
            <hr class="sidebar-divider my-0">

            <li class="nav-item @(ViewBag.Current == "QuanLyDoiTac" ? "active" : "")">
                <a href="/Manage/Partners" class="nav-link">
                    <i class="fas fa-hands-helping"></i>
                    <span>
                        Quản Lý Đối Tác
                    </span>
                </a>
            </li>

            <div class="sidebar-heading">
                Tin Tức
            </div>
            <hr class="sidebar-divider my-0">

            <li class="nav-item @(ViewBag.Current == "QuanLyTinTuc" ? "active" : "")">
                <a href="/Manage/News" class="nav-link">
                    <i class="fas fa-newspaper"></i>
                    <span>
                        Quản Lý Tin Tức
                    </span>
                </a>
            </li>

            <div class="sidebar-heading">
                Chăm Sóc Khách Hàng
            </div>
            <hr class="sidebar-divider my-0">

            <li class="nav-item @(ViewBag.Current == "ChatOnline" ? "active" : "")">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                   aria-expanded="true" aria-controls="collapsePages">
                    <i class="fab fa-facebook-messenger"></i>
                    <span>Chat Online</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Tổng Quan</h6>
                        <a class="collapse-item" href="#">Tất Cả Tin Nhắn</a>
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Trạng Thái</h6>
                        <a class="collapse-item" href="#">Tin Nhắn Chờ</a>
                        <a class="collapse-item" href="#">Tin Nhắn Đã Đọc</a>
                    </div>
                </div>
            </li>

            <hr class="sidebar-divider d-none d-md-block">

            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>

        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="m-0 font-weight-bold" style="color: #ee4d2d;">
                            @ViewBag.Title
                       </div>
                    </form>

                    <!-- Menu -->
                    <button id="sidebarToggleTop" class="btn d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <!-- tin nhắn -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                 aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                               placeholder="Search for..." aria-label="Search"
                                               aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Số lượng thông báo -->
                                <span class="badge badge-danger badge-counter">1</span>
                            </a>

                            <!-- Thông báo -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Thông Báo
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-truck-loading"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">06/11/2023</div>
                                        Đơn hàng mới
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="@Url.Action("Index", "Bills")">Xem Thêm</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- Số lượng tin nhắn -->
                                <span class="badge badge-danger badge-counter">1</span>
                            </a>
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Tin Nhắn
                                </h6>

                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="~/images/users/user.png"
                                             alt="Khách Hàng">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">
                                            Mặt hàng này còn không shop?
                                        </div>
                                        <div class="small text-gray-500">Thu Nhi· 2h</div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Xem Thêm</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                                    @UserManager.GetUserAsync(User).Result!.fullName
                                </span>
                                <img class="img-profile rounded-circle"
                                     src="~/images/users/shobee-logo.png">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Hồ Sơ
                                </a>
                                <div class="dropdown-divider"></div>

                                <form class="form-inline dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                    <button type="submit" class="" style="padding: 0; margin: 0; border: none; outline: none; background: none;">
                                        <span class="header__nav-item-link" style="width: 114px"> 
                                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                            Đăng Xuất
                                        </span>
                                    </button>
                                </form>

                                @* <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Đăng Xuất
                                </a> *@
                            </div>
                        </li>

                    </ul>

                </nav>

                <div style="padding: 18px">
                    @RenderBody()
                </div>

            </div>

            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; TMĐT 2023</span>
                    </div>
                </div>
            </footer>

        </div>

    </div>

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Bạn Muốn Đăng Xuất?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Chọn "Đăng xuất" bên dưới nếu bạn sẵn sàng kết thúc phiên hiện tại của mình.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Huỷ</button>
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="nav-link btn btn-link btn-primary" style="padding: 0; margin: 0;"><span class="header__nav-item-link" style="width: 114px"> Đăng Xuất</span></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/js/sb-admin-2.min.js"></script>
    @RenderSection("scripts", required: false)
</body>

</html>