@page
@model JZenoApp.Areas.Identity.Pages.Account.Manage.Bills.IndexModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Index";
    int dem = 0, dem1 = 0, dem2 = 0, dem3 = 0, dem4 = 0, dem5 = 0, dem6 = 0;
}
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link href="~/css/profile.css" rel="stylesheet" />
<link href="~/css/ordercustomer.css" rel="stylesheet" />
<link href="~/css/feedback.css" rel="stylesheet" />
<script src="~/js/jquery.min.js"></script>

<style>
    select option {
        background: #ffffff;
        color: red;
    }
</style>
<section id="tabs" style="margin-top:30px;">
    <div class="trangthai">
        <h6 class="section-title h1 text-left"></h6>
        <div class="row">
            <div class="col-xs-12 ">
                <nav class="asa">
                    <div class=" nav nav-tabs nav-fill" id="nav-tab" style="padding-top:10px;" role="tablist">
                        <a class=" nav-link active" id="nav-cd-tab" data-toggle="tab" href="#nav-cd"
                           role="tab" aria-controls="nav-cd" aria-selected="true">Tất cả</a>
                        <a class=" nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                           role="tab" aria-controls="nav-home" aria-selected="false">
                            Chờ Xử Lý
                            <img src="./image/new-logo.png" width="80" alt="">
                        </a>
                        <a class=" nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                           role="tab" aria-controls="nav-profile" aria-selected="false">Đã Xác Nhận</a>

                        <a class=" nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact"
                           role="tab" aria-controls="nav-contact" aria-selected="false">Đang Giao</a>

                        <a class=" nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about"
                           role="tab" aria-controls="nav-about" aria-selected="false">Hoàn thành</a>

                        <a class=" nav-link" id="nav-huy-tab" data-toggle="tab" href="#nav-huy"
                           role="tab" aria-controls="nav-huy" aria-selected="false">Đã Hủy</a>

                        <a class=" nav-link" id="nav-hoan-tab" data-toggle="tab" href="#nav-hoan"
                           role="tab" aria-controls="nav-hoan" aria-selected="false">Trả hàng/Hoàn tiền</a>
                    </div>
                </nav>

                <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-cd" role="tabpanel"
                         aria-labelledby="nav-cd-tab">
                        <div class="container" style="max-width: 100%;">
                            @foreach (var item0 in Model.Bill.Where(e => e.UserId == UserManager.GetUserId(User)))
                            {
                                <div class="order1">
                                    <div style="display:none;">@item0.billID | @Convert.ToDecimal(item0.price).ToString("N0") | @item0.date</div>

                                    @foreach (var item1 in item0.detailsOrders!)
                                    {
                                        var x = 0;
                                        <div class="row">
                                            <div class="col-10">
                                                <span class="like">Yêu thích</span>
                                                <span style="font-weight: 600; width: 100px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">@item1.Product!.Partner!.name</span>
                                                <span class="shop"><i class='bx bx-store'></i><a style="text-decoration:none; color:black;" href="/Partners/Details/@item1.Product.partnerID">Xem shop</a></span>
                                            </div>
                                            <div class="col-2" style="color: red;display: flex; justify-content: right;">
                                                @if (Convert.ToInt16(item1.detailStatic) == 0)
                                                {
                                                    <span>Chờ Xử Lý</span>
                                                }
                                                @if (Convert.ToInt16(item1.detailStatic) == 1)
                                                {
                                                    <span>Đã Xác Nhận</span>
                                                }
                                                @if (Convert.ToInt16(item1.detailStatic) == 2)
                                                {
                                                    <span>Đang Giao</span>
                                                }
                                                @if (Convert.ToInt16(item1.detailStatic) == 3)
                                                {
                                                    <span>Hoàn thành</span>
                                                }
                                                @if (Convert.ToInt16(item1.detailStatic) == 4)
                                                {
                                                    <span>Đã Hủy</span>
                                                }
                                                @if (Convert.ToInt16(item1.detailStatic) == 5)
                                                {
                                                    <span>Trà hành/Hoàn tiền</span>
                                                }
                                            </div>
                                        </div>
                                        <div style="border-bottom: 1px solid rgb(232, 232, 232); margin: 20px 0px;">
                                        </div>
                                        <h2></h2>
                                        <div class="row sd">
                                            <div class="col-2">
                                                @foreach (var hinh in item1.Product!.productImages!)
                                                {
                                                    if (x == 0)
                                                    {
                                                        <img src="/images/products/@hinh.URL" width="90%" /> @* Hình ảnh sản phẩm *@
                                                    }
                                                    x++;
                                                }
                                            </div>
                                            <div class="col-10">
                                                <p style="font-size: 20px; font-weight: 600; margin-bottom: 0px;">@item1.Product.name</p>
                                                <div class="row">
                                                    <div class="col-10" style="color: gray;padding-left:13px;">Phân loại hàng: @item1.size / @item1.color</div> @* màu với size *@
                                                    <div class="col-2" style="color: red; justify-content: right; display: flex;">@Convert.ToDecimal(item1.price * item1.quantity).ToString("N0")</div>
                                                </div>
                                                <div>@Convert.ToDecimal(item1.price).ToString("N0") x @item1.quantity</div>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div class="pay">
                                    <div class="tt">
                                        <span style="margin-right: 3px; margin-top: -3px;"><img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/83e10a1f95cb083579c089448ef8dd3b.png" style="width: 23px; height: 24px;" class="sure-img"></span>
                                        <span class="tien">Thành tiền:&nbsp;</span>
                                        <span style="color: red; text-decoration: underline;">đ</span>
                                        <span class="toltal">@Convert.ToDecimal(item0.price).ToString("N0")</span>
                                    </div>
                                    <div class="row">
                                        <div class="col-5 note1">
                                            @if (Convert.ToInt16(item0.detailsOrders.FirstOrDefault()!.detailStatic) == 0)
                                            {
                                                <span>Chờ Xử Lý</span>
                                            }
                                            @if (Convert.ToInt16(item0.detailsOrders.FirstOrDefault()!.detailStatic) == 1)
                                            {
                                                <span>Bên vận chuyển đang đến lấy hàng</span>
                                            }
                                            @if (Convert.ToInt16(item0.detailsOrders.FirstOrDefault()!.detailStatic) == 2)
                                            {
                                                <span>Đơn hàng đang giao đã đến bạn</span>
                                            }
                                            @if (Convert.ToInt16(item0.detailsOrders.FirstOrDefault()!.detailStatic) == 3)
                                            {
                                                <span>Đánh giá sản phẩm trước 10/12/2023</span>
                                            }
                                            @if (Convert.ToInt16(item0.detailsOrders.FirstOrDefault()!.detailStatic) == 4)
                                            {
                                                <span>Đã hủy bởi bạn</span>
                                            }
                                            @if (Convert.ToInt16(item0.detailsOrders.FirstOrDefault()!.detailStatic) == 5)
                                            {
                                                <span>Trà hành/Hoàn tiền</span>
                                            }
                                        </div>
                                        <div class="col-7 phu">
                                            @if (item0.detailsOrders.FirstOrDefault()!.detailStatic == 0)
                                            {
                                                @if (item0.detailsOrders!.Where(e => e.detailStatic != 0).Count() == 0)
                                                {
                                                    @if (item0.billStatic == 0)
                                                    {
                                                        <select id="selectActive" data-productid="@item0.billID" class="ChoTT">
                                                            <option selected>
                                                                @switch (item0.billStatic)
                                                                {
                                                                    case 0:
                                                                        <div>Chờ Thanh Toán <i class='bx bxs-down-arrow'></i></div>
                                                                        break;
                                                                    case 1:
                                                                        <div>Đã Hủy</div>
                                                                        break;
                                                                    default:
                                                                        <div>Chưa Xử Lý</div>
                                                                        break;
                                                                }
                                                                <i class='bx bxs-down-arrow'></i>
                                                            </option>
                                                            @if (item0.billStatic == 0)
                                                            {
                                                                <option value="1">Đã Hủy</option>
                                                            }

                                                        </select>
                                                    }
                                                    else
                                                    {
                                                        <div>Đã Hủy</div>
                                                    }

                                                }
                                            }
                                            <button class="contactoorder">Liên hệ người bán</button>
                                            <button class="contactoorder">Mua lại</button>
                                        </div>
                                    </div>
                                </div>
                                dem6 += 1;
                            }
                            @if (dem6 == 0)
                            {
                                <div class="notorder">
                                    <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/orderlist/5fafbb923393b712b96488590b8f781f.png" />
                                </div>
                            }
                        </div>
                    </div>
                    @*  Index tất cả *@
                    <div class="tab-pane fade  " id="nav-home" role="tabpanel"
                         aria-labelledby="nav-home-tab">
                        <div class="container" style="max-width: 100%;">
                            @foreach (var item0 in Model.Bill.Where(e => e.UserId == UserManager.GetUserId(User)))
                            {
                                @if (item0.detailsOrders!.FirstOrDefault()!.detailStatic == 0)
                                {
                                    <div class="order1">
                                        <div style="display:none;">@item0.billID | @Convert.ToDecimal(item0.price).ToString("N0") | @item0.date</div>

                                        @foreach (var item1 in item0.detailsOrders!)
                                        {
                                            var x = 0;
                                            <div class="row">
                                                <div class="col-10">
                                                    <span class="like">Yêu thích</span>
                                                    <span style="font-weight: 600; width: 100px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">@item1.Product!.Partner!.name</span>
                                                    <span class="shop"><i class='bx bx-store'></i><a style="text-decoration:none; color:black;" href="/Partners/Details/@item1.Product.partnerID">Xem shop</a></span>
                                                </div>
                                                <div class="col-2" style="color: red;display: flex; justify-content: right;">

                                                    <span>Chờ xác nhận</span>

                                                </div>
                                            </div>
                                            <div style="border-bottom: 1px solid rgb(232, 232, 232); margin: 20px 0px;">
                                            </div>
                                            <h2></h2>
                                            <div class="row sd">
                                                <div class="col-2">
                                                    @foreach (var hinh in item1.Product!.productImages!)
                                                    {
                                                        if (x == 0)
                                                        {
                                                            <img src="/images/products/@hinh.URL" width="90%" /> @* Hình ảnh sản phẩm *@
                                                        }
                                                        x++;
                                                    }
                                                </div>
                                                <div class="col-10">
                                                    <p style="font-size: 20px; font-weight: 600; margin-bottom: 0px;">@item1.Product.name</p>
                                                    <div class="row">
                                                        <div class="col-10" style="color: gray;padding-left:13px;">Phân loại hàng: @item1.size / @item1.color</div> @* màu với size *@
                                                        <div class="col-2" style="color: red; justify-content: right; display: flex;">@Convert.ToDecimal(item1.price * item1.quantity).ToString("N0")</div>
                                                    </div>
                                                    <div>@Convert.ToDecimal(item1.price).ToString("N0") x @item1.quantity</div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    <div class="pay">
                                        <div class="tt">
                                            <span style="margin-right: 3px; margin-top: -3px;"><img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/83e10a1f95cb083579c089448ef8dd3b.png" style="width: 23px; height: 24px;" class="sure-img"></span>
                                            <span class="tien">Thành tiền:&nbsp;</span>
                                            <span style="color: red; text-decoration: underline;">đ</span>
                                            <span class="toltal">@Convert.ToDecimal(item0.price).ToString("N0")</span>
                                        </div>
                                        <div class="row">
                                            <div class="col-5 note1">
                                                @if (Convert.ToInt16(item0.detailsOrders.FirstOrDefault().detailStatic) == 0)
                                                {
                                                    <span>Chờ Xử Lý</span>
                                                }
                                                @if (Convert.ToInt16(item0.detailsOrders.FirstOrDefault().detailStatic) == 1)
                                                {
                                                    <span>Bên vận chuyển đang đến lấy hàng</span>
                                                }
                                                @if (Convert.ToInt16(item0.detailsOrders.FirstOrDefault().detailStatic) == 2)
                                                {
                                                    <span>Đơn hàng đang giao đã đến bạn</span>
                                                }
                                                @if (Convert.ToInt16(item0.detailsOrders.FirstOrDefault().detailStatic) == 3)
                                                {
                                                    <span>Đánh giá sản phẩm trước 10/12/2023</span>
                                                }
                                                @if (Convert.ToInt16(item0.detailsOrders.FirstOrDefault().detailStatic) == 4)
                                                {
                                                    <span>Đã hủy bởi bạn</span>
                                                }
                                                @if (Convert.ToInt16(item0.detailsOrders.FirstOrDefault().detailStatic) == 5)
                                                {
                                                    <span>Trà hành/Hoàn tiền</span>
                                                }
                                            </div>
                                            <div class="col-7 phu">
                                                @if (item0.detailsOrders!.Where(e => e.detailStatic != 0).Count() == 0)
                                                {
                                                    @if (item0.billStatic == 0)
                                                    {
                                                        <select id="selectActive" data-productid="@item0.billID" class=" ChoTT">
                                                            <option>
                                                                @switch (item0.billStatic)
                                                                {
                                                                    case 0:
                                                                        <div>Chờ Thanh Toán <i class='bx bxs-down-arrow'></i></div>
                                                                        break;
                                                                    case 1:
                                                                        <div>Đã Hủy</div>
                                                                        break;
                                                                    default:
                                                                        <div>Chưa Xử Lý</div>
                                                                        break;
                                                                }
                                                                <i class='bx bxs-down-arrow'></i>
                                                            </option>
                                                            @if (item0.billStatic == 0)
                                                            {
                                                                <option value="1">Đã Hủy</option>
                                                            }

                                                        </select>
                                                    }
                                                    else
                                                    {
                                                        <div>Đã Hủy</div>
                                                    }

                                                }
                                                <button class="contactoorder">Liên hệ người bán</button>
                                                <button class="contactoorder">Mua lại</button>
                                            </div>
                                        </div>
                                    </div>
                                    dem += 1;
                                }
                            }
                            @if (dem == 0)
                            {
                                <div class="notorder">
                                    <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/orderlist/5fafbb923393b712b96488590b8f781f.png" />
                                </div>
                            }
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <div class="container" style="max-width: 100%;">
                            @foreach (var item0 in Model.Bill.Where(e => e.UserId == UserManager.GetUserId(User)))
                            {
                                @if (item0.detailsOrders.FirstOrDefault().detailStatic == 1)
                                {
                                    <div class="order1">
                                        <div style="display:none;">@item0.billID | @Convert.ToDecimal(item0.price).ToString("N0") | @item0.date</div>
                                        @if (item0.detailsOrders!.Where(e => e.detailStatic != 0).Count() == 0)
                                        {
                                            @if (item0.billStatic == 0)
                                            {
                                                <select id="selectActive" data-productid="@item0.billID" class="form-control">
                                                    <option>
                                                        @switch (item0.billStatic)
                                                        {
                                                            case 0:
                                                                <div>Chờ Thanh Toán</div>
                                                                break;
                                                            case 1:
                                                                <div>Đã Hủy</div>
                                                                break;
                                                            default:
                                                                <div>Chưa Xử Lý</div>
                                                                break;
                                                        }
                                                    </option>
                                                    @if (item0.billStatic == 0)
                                                    {
                                                        <option value="1">Đã Hủy</option>
                                                    }
                                                </select>
                                            }
                                            else
                                            {
                                                <div>Đã Hủy</div>
                                            }
                                        }
                                        @foreach (var item1 in item0.detailsOrders!.Where(e => e.detailStatic == 1))
                                        {
                                            var x = 0;
                                            <div class="row">
                                                <div class="col-10">
                                                    <span class="like">Yêu thích</span>
                                                    <span style="font-weight: 600; width: 100px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">@item1.Product!.Partner!.name</span>
                                                    <span class="shop"><i class='bx bx-store'></i><a style="text-decoration:none; color:black;" href="/Partners/Details/@item1.Product.partnerID">Xem shop</a></span>
                                                </div>
                                                <div class="col-2" style="color: red;display: flex; justify-content: right;">

                                                    <span>Đã Xác Nhận</span>

                                                </div>
                                            </div>
                                            <div style="border-bottom: 1px solid rgb(232, 232, 232); margin: 20px 0px;">
                                            </div>
                                            <h2></h2>
                                            <div class="row sd">
                                                <div class="col-2">
                                                    @foreach (var hinh in item1.Product!.productImages!)
                                                    {
                                                        if (x == 0)
                                                        {
                                                            <img src="/images/products/@hinh.URL" width="90%" /> @* Hình ảnh sản phẩm *@
                                                        }
                                                        x++;
                                                    }
                                                </div>
                                                <div class="col-10">
                                                    <p style="font-size: 20px; font-weight: 600; margin-bottom: 0px;">@item1.Product.name</p>
                                                    <div class="row">
                                                        <div class="col-10" style="color: gray;padding-left:13px;">Phân loại hàng: @item1.size / @item1.color</div> @* màu với size *@
                                                        <div class="col-2" style="color: red; justify-content: right; display: flex;">@Convert.ToDecimal(item1.price * item1.quantity).ToString("N0")</div>
                                                    </div>
                                                    <div>@Convert.ToDecimal(item1.price).ToString("N0") x @item1.quantity</div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    <div class="pay">
                                        <div class="tt">
                                            <span style="margin-right: 3px; margin-top: -3px;"><img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/83e10a1f95cb083579c089448ef8dd3b.png" style="width: 23px; height: 24px;" class="sure-img"></span>
                                            <span class="tien">Thành tiền:&nbsp;</span>
                                            <span style="color: red; text-decoration: underline;">đ</span>
                                            <span class="toltal">@Convert.ToDecimal(item0.price).ToString("N0")</span>
                                        </div>
                                        <div class="row">
                                            <div class="col-5 note1">
                                                @if (Convert.ToInt16(item0.detailsOrders.FirstOrDefault().detailStatic) == 0)
                                                {
                                                    <span>Chờ Xử Lý</span>
                                                }
                                                @if (Convert.ToInt16(item0.detailsOrders.FirstOrDefault().detailStatic) == 1)
                                                {
                                                    <span>Bên vận chuyển đang đến lấy hàng</span>
                                                }
                                                @if (Convert.ToInt16(item0.detailsOrders.FirstOrDefault().detailStatic) == 2)
                                                {
                                                    <span>Đơn hàng đang giao đã đến bạn</span>
                                                }
                                                @if (Convert.ToInt16(item0.detailsOrders.FirstOrDefault().detailStatic) == 3)
                                                {
                                                    <span>Đánh giá sản phẩm trước 10/12/2023</span>
                                                }
                                                @if (Convert.ToInt16(item0.detailsOrders.FirstOrDefault().detailStatic) == 4)
                                                {
                                                    <span>Đã hủy bởi bạn</span>
                                                }
                                                @if (Convert.ToInt16(item0.detailsOrders.FirstOrDefault().detailStatic) == 5)
                                                {
                                                    <span>Trà hành/Hoàn tiền</span>
                                                }
                                            </div>
                                            <div class="col-7 phu">
                                                @* <button style="color: #fff; background-color: red; border: none; border-radius: 4px; padding: 5px 20px">Đánh giá</button> *@
                                                <button class="contactoorder">Liên hệ người bán</button>
                                                <button class="contactoorder">Mua lại</button>
                                            </div>
                                        </div>
                                    </div>
                                    dem1 += 1;
                                }
                            }
                            @if (dem1 == 0)
                            {
                                <div class="notorder">
                                    <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/orderlist/5fafbb923393b712b96488590b8f781f.png" />
                                </div>
                            }
                        </div>
                    </div>

                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                        <div class="container" style="max-width: 100%;">
                            @foreach (var item0 in Model.Bill.Where(e => e.UserId == UserManager.GetUserId(User)))
                            {
                                @if (item0.detailsOrders.FirstOrDefault().detailStatic == 2)
                                {
                                    <div class="order1">
                                        <div style="display:none;">@item0.billID | @Convert.ToDecimal(item0.price).ToString("N0") | @item0.date</div>
                                        @if (item0.detailsOrders!.Where(e => e.detailStatic != 0).Count() == 0)
                                        {
                                            @if (item0.billStatic == 0)
                                            {
                                                <select id="selectActive" data-productid="@item0.billID" class="form-control">
                                                    <option selected>
                                                        @switch (item0.billStatic)
                                                        {
                                                            case 0:
                                                                <div>Chờ Thanh Toán</div>
                                                                break;
                                                            case 1:
                                                                <div>Đã Hủy</div>
                                                                break;
                                                            default:
                                                                <div>Chưa Xử Lý</div>
                                                                break;
                                                        }
                                                    </option>
                                                    @if (item0.billStatic == 0)
                                                    {
                                                        <option value="1">Đã Hủy</option>
                                                    }
                                                </select>
                                            }
                                            else
                                            {
                                                <div>Đã Hủy</div>
                                            }
                                        }
                                        @foreach (var item1 in item0.detailsOrders!.Where(e => e.detailStatic == 2))
                                        {
                                            var x = 0;
                                            <div class="row">
                                                <div class="col-10">
                                                    <span class="like">Yêu thích</span>
                                                    <span style="font-weight: 600; width: 100px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">@item1.Product!.Partner!.name</span>
                                                    <span class="shop"><i class='bx bx-store'></i><a style="text-decoration:none; color:black;" href="/Partners/Details/@item1.Product.partnerID">Xem shop</a></span>
                                                </div>
                                                <div class="col-2" style="color: red;display: flex; justify-content: right;">

                                                    <span>Đang Giao</span>

                                                </div>
                                            </div>
                                            <div style="border-bottom: 1px solid rgb(232, 232, 232); margin: 20px 0px;">
                                            </div>
                                            <h2></h2>
                                            <div class="row sd">
                                                <div class="col-2">
                                                    @foreach (var hinh in item1.Product!.productImages!)
                                                    {
                                                        if (x == 0)
                                                        {
                                                            <img src="/images/products/@hinh.URL" width="90%" /> @* Hình ảnh sản phẩm *@
                                                        }
                                                        x++;
                                                    }
                                                </div>
                                                <div class="col-10">
                                                    <p style="font-size: 20px; font-weight: 600; margin-bottom: 0px;">@item1.Product.name</p>
                                                    <div class="row">
                                                        <div class="col-10" style="color: gray;padding-left:13px;">Phân loại hàng: @item1.size / @item1.color</div> @* màu với size *@
                                                        <div class="col-2" style="color: red; justify-content: right; display: flex;">@Convert.ToDecimal(item1.price * item1.quantity).ToString("N0")</div>
                                                    </div>
                                                    <div>@Convert.ToDecimal(item1.price).ToString("N0") x @item1.quantity</div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    dem2 += 1;
                                }

                            }
                            @if (dem2 == 0)
                            {
                                <div class="notorder">
                                    <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/orderlist/5fafbb923393b712b96488590b8f781f.png" />
                                </div>
                            }
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                        <div class="container" style="max-width: 100%;">
                            @foreach (var item0 in Model.Bill.Where(e => e.UserId == UserManager.GetUserId(User)))
                            {
                                @if (item0.detailsOrders!.FirstOrDefault()!.detailStatic == 3)
                                {
                                    <div class="order1">
                                        <div style="display:none;">@item0.billID | @Convert.ToDecimal(item0.price).ToString("N0") | @item0.date</div>
                                        @if (item0.detailsOrders!.Where(e => e.detailStatic != 0).Count() == 0)
                                        {
                                            @if (item0.billStatic == 0)
                                            {
                                                <select id="selectActive" data-productid="@item0.billID" class="form-control">
                                                    <option>
                                                        @switch (item0.billStatic)
                                                        {
                                                            case 0:
                                                                <div>Chờ Thanh Toán</div>
                                                                break;
                                                            case 1:
                                                                <div>Đã Hủy</div>
                                                                break;
                                                            default:
                                                                <div>Chưa Xử Lý</div>
                                                                break;
                                                        }
                                                    </option>
                                                    @if (item0.billStatic == 0)
                                                    {
                                                        <option value="1">Đã Hủy</option>
                                                    }
                                                </select>
                                            }
                                            else
                                            {
                                                <div>Đã Hủy</div>
                                            }
                                        }
                                        @foreach (var item1 in item0.detailsOrders!.Where(e => e.detailStatic == 3).OrderBy(e=>e.active))
                                        {
                                            var x = 0;
                                            <div class="row">
                                                <div class="col-10 modalList">
                                                    <span class="like">Yêu thích</span>
                                                    <span style="font-weight: 600; width: 100px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">@item1.Product!.Partner!.name</span>
                                                    <span class="shop"><i class='bx bx-store'></i><a style="text-decoration:none; color:black;" href="/Partners/Details/@item1.Product.partnerID">Xem shop</a></span>
                                                    @if (item1.active == null || item1.active == false)
                                                    {
                                                        <button type="button" class="feedback" data-value="@item1.odID">Đánh Giá</button>
                                                        <div class="modal fade" id="exampleModal-@item1.odID" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog" role="document">
                                                                <div class="modal-content" style="border:none; border-radius:8px;">
                                                                    <div class="modal-header" style="display:flex;justify-content:center;">
                                                                        <h1 class="modal-title" id="exampleModalLabel" style="font-size:30px;font-weight:600;color:red;">Đánh Giá</h1>
                                                                        @* <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                        </button> *@
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <input hidden id="userId" value="@UserManager.GetUserId(User)" />
                                                                        <input hidden id="productId-@item1.odID" value="@item1.productId" />
                                                                        <input hidden id="detailOD-@item1.odID" value="@item1.odID" />
                                                                        <input hidden id="star" value="5" />
                                                                        <div class="wrapper">
                                                                            <form class="demoForm">
                                                                                <div class="rating rating-large" dir="rtl">
                                                                                    <input type="radio" name="rate" class="rate-5-@item1.odID" id="5" value="5" />
                                                                                    <label class="rating-label" for="5">&#9734</label>
                                                                                    <input type="radio" name="rate" class="rate-4-@item1.odID" id="4" value="4" />
                                                                                    <label class="rating-label" for="4">&#9734</label>
                                                                                    <input type="radio" name="rate" class="rate-3-@item1.odID" id="3" value="3" />
                                                                                    <label class="rating-label" for="3">&#9734</label>
                                                                                    <input type="radio" name="rate" class="rate-2-@item1.odID" id="2" value="2" />
                                                                                    <label class="rating-label" for="2">&#9734</label>
                                                                                    <input type="radio" name="rate" id="1" class="rate-1-@item1.odID" value="1" />
                                                                                    <label class="rating-label" for="1">&#9734</label>
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                        <form action="#">
                                                                            <header id="textshow"></header>
                                                                            <div class="textarea" style="height:220px;">
                                                                                <textarea cols="30" id="comment" rows="10" required maxlength="250" style="width:100%; margin-top:10px;" placeholder="Nội dung..."></textarea>
                                                                            </div>
                                                                            <div class="modal-footer" style="justify-content:center; border:none; margin-top:10px;">
                                                                                <button type="button" class="closefb" data-dismiss="modal">Đóng</button>
                                                                                <button type="button" id="addCmt-@item1.odID" name="@item1.odID" class="feedback">Gửi đánh giá</button>
                                                                            </div>
                                                                        </form>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    }

                                                </div>
                                                <div class="col-2" style="color: red;display: flex; justify-content: right;">
                                                    <span>Hoàn thành</span>
                                                </div>
                                            </div>
                                            <div style="border-bottom: 1px solid rgb(232, 232, 232); margin: 20px 0px;">
                                            </div>
                                            <h2></h2>
                                            <div class="row sd">
                                                <div class="col-2">
                                                    @foreach (var hinh in item1.Product!.productImages!)
                                                    {
                                                        if (x == 0)
                                                        {
                                                            <img src="/images/products/@hinh.URL" width="90%" /> @* Hình ảnh sản phẩm *@
                                                        }
                                                        x++;
                                                    }
                                                </div>
                                                <div class="col-10">
                                                    <p style="font-size: 20px; font-weight: 600; margin-bottom: 0px;">@item1.Product.name</p>
                                                    <div class="row">
                                                        <div class="col-10" style="color: gray;padding-left:13px;">Phân loại hàng: @item1.size / @item1.color</div> @* màu với size *@
                                                        <div class="col-2" style="color: red; justify-content: right; display: flex;">@Convert.ToDecimal(item1.price * item1.quantity).ToString("N0")</div>
                                                    </div>
                                                    <div>@Convert.ToDecimal(item1.price).ToString("N0") x @item1.quantity</div>

                                                </div>
                                            </div>
                                        }
                                    </div>
                                    dem3 += 1;
                                }
                            }
                            @if (dem3 == 0)
                            {
                                <div class="notorder">
                                    <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/orderlist/5fafbb923393b712b96488590b8f781f.png" />
                                </div>
                            }
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-huy" role="tabpanel" aria-labelledby="nav-huy-tab">
                        <div class="container" style="max-width: 100%;">
                            @foreach (var item0 in Model.Bill.Where(e => e.UserId == UserManager.GetUserId(User)))
                            {
                                @if (item0.detailsOrders!.FirstOrDefault()!.detailStatic == 4)
                                {
                                    <div class="order1">
                                        <div style="display:none;">@item0.billID | @Convert.ToDecimal(item0.price).ToString("N0") | @item0.date</div>
                                        @if (item0.detailsOrders!.Where(e => e.detailStatic != 0).Count() == 0)
                                        {
                                            @if (item0.billStatic == 0)
                                            {
                                                <select id="selectActive" data-productid="@item0.billID" class="form-control">
                                                    <option>
                                                        @switch (item0.billStatic)
                                                        {
                                                            case 0:
                                                                <div>Chờ Thanh Toán</div>
                                                                break;
                                                            case 1:
                                                                <div>Đã Hủy</div>
                                                                break;
                                                            default:
                                                                <div>Chưa Xử Lý</div>
                                                                break;
                                                        }
                                                    </option>
                                                    @if (item0.billStatic == 0)
                                                    {
                                                        <option value="1">Đã Hủy</option>
                                                    }
                                                </select>
                                            }
                                            else
                                            {
                                                <div>Đã Hủy</div>
                                            }
                                        }
                                        @foreach (var item1 in item0.detailsOrders!.Where(e => e.detailStatic == 4))
                                        {
                                            var x = 0;
                                            <div class="row">
                                                <div class="col-10">
                                                    <span class="like">Yêu thích</span>
                                                    <span style="font-weight: 600; width: 100px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">@item1.Product!.Partner!.name</span>
                                                    <span class="shop"><i class='bx bx-store'></i><a style="text-decoration:none; color:black;" href="/Partners/Details/@item1.Product.partnerID">Xem shop</a></span>
                                                </div>
                                                <div class="col-2" style="color: red;display: flex; justify-content: right;">

                                                    <span>Đã Hủy</span>

                                                </div>
                                            </div>
                                            <div style="border-bottom: 1px solid rgb(232, 232, 232); margin: 20px 0px;">
                                            </div>
                                            <h2></h2>
                                            <div class="row sd">
                                                <div class="col-2">
                                                    @foreach (var hinh in item1.Product!.productImages!)
                                                    {
                                                        if (x == 0)
                                                        {
                                                            <img src="/images/products/@hinh.URL" width="90%" /> @* Hình ảnh sản phẩm *@
                                                        }
                                                        x++;
                                                    }
                                                </div>
                                                <div class="col-10">
                                                    <p style="font-size: 20px; font-weight: 600; margin-bottom: 0px;">@item1.Product.name</p>
                                                    <div class="row">
                                                        <div class="col-10" style="color: gray;padding-left:13px;">Phân loại hàng: @item1.size / @item1.color</div> @* màu với size *@
                                                        <div class="col-2" style="color: red; justify-content: right; display: flex;">@Convert.ToDecimal(item1.price * item1.quantity).ToString("N0")</div>
                                                    </div>
                                                    <div>@Convert.ToDecimal(item1.price).ToString("N0") x @item1.quantity</div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    dem4 += 1;
                                }
                            }
                            @if (dem4 == 0)
                            {
                                <div class="notorder">
                                    <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/orderlist/5fafbb923393b712b96488590b8f781f.png" />
                                </div>
                            }
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-hoan" role="tabpanel" aria-labelledby="nav-hoan-tab">
                        <div class="container" style="max-width: 100%;">
                            @foreach (var item0 in Model.Bill.Where(e => e.UserId == UserManager.GetUserId(User)))
                            {
                                @if (item0.detailsOrders!.FirstOrDefault()!.detailStatic == 5)
                                {
                                    <div class="order1">
                                        <div style="display:none;">@item0.billID | @Convert.ToDecimal(item0.price).ToString("N0") | @item0.date</div>
                                        @if (item0.detailsOrders!.Where(e => e.detailStatic != 0).Count() == 0)
                                        {
                                            @if (item0.billStatic == 0)
                                            {
                                                <select id="selectActive" data-productid="@item0.billID" class="form-control">
                                                    <option>
                                                        @switch (item0.billStatic)
                                                        {
                                                            case 0:
                                                                <div>Chờ Thanh Toán</div>
                                                                break;
                                                            case 1:
                                                                <div>Đã Hủy</div>
                                                                break;
                                                            default:
                                                                <div>Chưa Xử Lý</div>
                                                                break;
                                                        }
                                                    </option>
                                                    @if (item0.billStatic == 0)
                                                    {
                                                        <option value="1">Đã Hủy</option>
                                                    }
                                                </select>
                                            }
                                            else
                                            {
                                                <div>Đã Hủy</div>
                                            }
                                        }
                                        @foreach (var item1 in item0.detailsOrders!.Where(e => e.detailStatic == 5))
                                        {
                                            var x = 0;
                                            <div class="row">
                                                <div class="col-10">
                                                    <span class="like">Yêu thích</span>
                                                    <span style="font-weight: 600; width: 100px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">@item1.Product!.Partner!.name</span>
                                                    <span class="shop"><i class='bx bx-store'></i><a style="text-decoration:none; color:black;" href="/Partners/Details/@item1.Product.partnerID">Xem shop</a></span>
                                                </div>
                                                <div class="col-2" style="color: red;display: flex; justify-content: right;">


                                                    <span>Trà hành/Hoàn tiền</span>

                                                </div>
                                            </div>
                                            <div style="border-bottom: 1px solid rgb(232, 232, 232); margin: 20px 0px;">
                                            </div>
                                            <h2></h2>
                                            <div class="row sd">
                                                <div class="col-2">
                                                    @foreach (var hinh in item1.Product!.productImages!)
                                                    {
                                                        if (x == 0)
                                                        {
                                                            <img src="/images/products/@hinh.URL" width="90%" /> @* Hình ảnh sản phẩm *@
                                                        }
                                                        x++;
                                                    }
                                                </div>
                                                <div class="col-10">
                                                    <p style="font-size: 20px; font-weight: 600; margin-bottom: 0px;">@item1.Product.name</p>
                                                    <div class="row">
                                                        <div class="col-10" style="color: gray;padding-left:13px;">Phân loại hàng: @item1.size / @item1.color</div> @* màu với size *@
                                                        <div class="col-2" style="color: red; justify-content: right; display: flex;">@Convert.ToDecimal(item1.price * item1.quantity).ToString("N0")</div>
                                                    </div>
                                                    <div>@Convert.ToDecimal(item1.price).ToString("N0") x @item1.quantity</div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    dem5 += 1;
                                }
                            }
                            @if (dem5 == 0)
                            {
                                <div class="notorder">
                                    <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/orderlist/5fafbb923393b712b96488590b8f781f.png" />
                                </div>
                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>
</section>

<style>
    .sd {
        margin-bottom: 20px;
    }

    .container {
        padding-top: 0px;
    }

    .notorder {
        height: 370px;
        background-color: #fff;
        margin-top: 18px;
        justify-content: center;
        border-radius: 0px 0px 8px 8px;
        display: flex;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    }

    .feedback {
        color: #fff;
        background-color: red;
        border: none;
        border-radius: 4px;
        padding: 5px 20px;
    }

    .closefb {
        color: #fff;
        background-color: #0dcaf0;
        border: none;
        border-radius: 4px;
        padding: 5px 20px;
    }

    .notorder img {
        margin: auto;
        display: table;
        vertical-align: middle;
    }

    .order1 {
        margin-top: 0px;
    }

    .ChoTT {
        padding: 4px 9px;
        width: 183px;
        background-color: red;
        border: none;
        border-radius: 4px;
        color: white;
    }
</style>
<script src="~/js/bootstrap.bundle.min.js"></script>
<script>
    $('select[id^=selectActive]').on("change", function () {
        var id = $(this).attr('data-productid');
        var payment = $(this).find('option:selected').val();
        $.ajax({
            method: "PUT",
            url: "/Bills/updateActive/",
            data: {
                billId: id,
                payment: payment
            },
            dataType: "json",
            success: function (data) {
                window.location.href = "";
            }
        });
    });
    $('.feedback').on('click', function (e) {
        $('.rate-1-' + $(this).attr('data-value')).click(function () {
            if ($(this).is(':checked')) {
                $("#star").val("1");
            }
        });
        $('.rate-2-'+ $(this).attr('data-value')).click(function () {
            if ($(this).is(':checked')) {
                $("#star").val("2");
            }
        });
        $('.rate-3-'+ $(this).attr('data-value')).click(function () {
            if ($(this).is(':checked')) {
                $("#star").val("3");
            }
        });
        $('.rate-4-'+ $(this).attr('data-value')).click(function () {
            if ($(this).is(':checked')) {
                $("#star").val("4");
            }
        });
        $('.rate-5-' + $(this).attr('data-value')).click(function () {
            if ($(this).is(':checked')) {
                $("#star").val("5");
            }
        });
        $('#exampleModal-'+ $(this).attr('data-value')).modal('show');
        var userId = $('#userId').val();
        var productId = $("#productId-" + $(this).attr('data-value')).val();
        var detail = $('#detailOD-' + $(this).attr('data-value')).val();
       
         
        $("#addCmt-" + $(this).attr('data-value')).click(function () {
            var evaluate = $("#star").val();
            var message = $('#comment').val();
             $.ajax({
                method: "POST",
                url: "/Products/AddComment",
                data: {
                    message: message,
                    star: evaluate,
                    productId: productId,
                    userId: userId,
                    detailOD: detail
                },
                dataType: "json",
                success: function (data) {
                    window.location.href = "/Identity/Account/Manage/Bills";
                }
            });
        });
    });
   
</script>
